<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="structure.drawing.options" type="System.Configuration.NameValueSectionHandler" />
    <section name="valid.structure.ids" type="System.Configuration.NameValueSectionHandler" />
    <section name="cdxid2regid.rules" type="System.Configuration.NameValueSectionHandler" />
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="JobManagerConnection" connectionString="Data Source=localhost;MultipleActiveResultSets=True;Initial Catalog=JobManager;Integrated Security=True; Connection Timeout=60;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--<connectionStrings>
    <add name="JobManagerConnection" connectionString="Data Source=SQLHUB;MultipleActiveResultSets=True;Initial Catalog=JobManager;Integrated Security=True; Connection Timeout=60;" providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  <appSettings>
    <!-- MANDATORY: set it to the data repository path \\VCHV\cvsp_repository or \\VCHV\cvsp_repository_reserve -->
    <add key="data_path" value="\\VCHV\cvsp_repository_reserve" />
    <add key="big_data_offline_path" value="\\VCHV\cvsp_repository_reserve\big_data_offline" />

    <!-- 
		<add key="data_path" value="\\VCHV\cvsp_repository" />
		<add key="big_data_offline_path" value="\\VCHV\cvsp_repository\big_data_offline" />
		<add key="RootGCNDirectory" value="\\VCHV\cvsp_repository\crs" />
		-->
    <add key="ftp_data_path" value="\\rsc-us\ftphomes\RSC-US" />
    <add key="FTP_Dir4downloads" value="\\rsc-us\httphomes\download" />
    <add key="DepositionHostURLInEmail" value="http://cvsp.dev.rsc-us.org" />
    <!-- Condor FTP directory on ftp.rsc-us.org-->
    <add key="CVSP_FTP" value="ftp://ftp.rsc-us.org" />
    <add key="CVSP_FTP_Login" value="cvsp" />
    <add key="CVSP_FTP_Password" value="password" />
    <add key="CondorUserNameOnGrid" value="condor" />
    <add key="CondorPasswordOnGrid" value="password" />
    <add key="processingDir_remote" value="\\grid00\condor\processing\cvsp" />
    <add key="path_to_CVSPWorkerExe" value="\\grid00\condor\cvsp_exe\CVSPWorker.exe" />
    <!-- for PIRATE
		<add key="data_path" value="\\rsc-wf.org\storage\applications\live\chemspider\cvsp\cvsp_repository" />
		<add key="big_data_path" value="\\rsc-wf.org\storage\applications\live\chemspider\cvsp\cvsp_repository\big_data" />
		<add key="big_data_offline_path" value="\\rsc-wf.org\storage\applications\live\chemspider\cvsp\cvsp_repository\big_data_offline" />
		<add key="ftp_data_path" value="\\rsc-wf.org\storage\applications\live\chemspider\cvsp-ftp" />
		<add key="validationXMLFilePath" value="\\rsc-wf.org\storage\applications\live\chemspider\cvsp\ValidationRules.xml" />
		<add key="RootGCNDirectory" value="\\rsc-wf.org\storage\applications\live\chemspider\cvsp\crs" />
		<add key="FTP_Dir4downloads" value="\\rsc-wf.org\storage\applications\live\chemspider\cvsp\downloads" />
		<add key="DepositionHostURLInEmail" value="http://cvsp.chemspider.com" />
	  -->
    <!-- should alter path to CVSPWorker.exe accordingly-->
    <!-- for local-->
    <add key="CVSPWorker.exe" value="D:\Projects\RSC\cvsp\Source\CVSPWorker\bin\Debug\CVSPWorker.exe" />
    <!--<add key="MAX_JOBS_AMOUNT" value="6" />-->
    
	<!-- for ds
		<add key="CVSPWorker.exe" value="E:\CS-Binaries\CVSP\CVSPWorker\CVSPWorker.exe"/>
	-->
	  
    <!-- for dsbeta
	    <add key="CVSPWorker.exe" value="E:\CS-Binaries\CVSP\CVSPWorker.exe"/>
		-->
    <!-- for PIRATE
		<add key="CVSPWorker.exe" value="C:\ChemSpider-Services\ChemValidator\CVSPWorker.exe"/>
		-->
    <add key="CVSPWorkerName" value="CVSPWorker" />
    <add key="CVSPWorkerMaxProcessesLimit" value="8" />
    <add key="DeleteSubmissionsOlderXDays" value="90" />
    <add key="MaxAtomLimit_4_Validation2Run" value="200" />
    <!-- do not put higher number as validation involves layout (smiles->Molecule conversion) which takes very long for large molecules-->
    <add key="MaxAtomLimit_4_Standardization2Run" value="0" />
    <add key="MaxAtomLimit_4_TautomerCanonicalization" value="200" />
    <add key="MaxAtomLimit_4_Layout" value="200" />
    <!-- mail settings on webbeta-->
    <add key="Host" value="mail.rsc-us.org" />
    <add key="port" value="25" />
    <add key="enableSsl" value="False" />
    <add key="networkCredentials_userName" value="chemspider" />
    <add key="networkCredentials_password" value="password" />
    <!-- This key is necessary to access ChemSpider web services -->
    <add key="chemspider_service_key" value="d12a3327-4d66-4256-a1b7-cc4916c925c9" />
    <!-- Misc -->
    <add key="period" value="10" />
    <!-- delay in re-running service -->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ClientSettingsProvider.ConnectionStringName" value="DefaultConnection" />
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="consoleListener" type="System.Diagnostics.ConsoleTraceListener" />
      </listeners>
    </trace>
  </system.diagnostics>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SynonymsSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="SynonymsSoap12">
          <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" messageVersion="Soap12" writeEncoding="utf-8">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          </textMessageEncoding>
          <httpTransport manualAddressing="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous" bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard" keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous" realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false" useDefaultWebProxy="true" />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://www.chemspider.com/Synonyms.asmx" binding="basicHttpBinding" bindingConfiguration="SynonymsSoap" contract="com.chemspider.SynonymsSoap" name="SynonymsSoap" />
      <endpoint address="http://www.chemspider.com/Synonyms.asmx" binding="customBinding" bindingConfiguration="SynonymsSoap12" contract="com.chemspider.SynonymsSoap" name="SynonymsSoap12" />
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" connectionStringName="DefaultConnection" credentialsProvider="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" connectionStringName="DefaultConnection" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ChemAxon.IKVM.aloe.1.0" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.12.0.197" newVersion="5.12.0.197" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ChemAxon.IKVM.chemaxon.core" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.12.0.197" newVersion="5.12.0.197" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ChemAxon.IKVM.MarvinBeans.formats.name" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.12.0.197" newVersion="5.12.0.197" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ChemAxon.IKVM.MarvinBeans.formats" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.12.0.197" newVersion="5.12.0.197" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ChemAxon.IKVM.MarvinBeans" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.12.0.197" newVersion="5.12.0.197" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ChemAxon.IKVM.MarvinBeans.license" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.12.0.197" newVersion="5.12.0.197" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ChemAxon.IKVM.pdfbox.1.7.1" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.12.0.197" newVersion="5.12.0.197" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ChemAxon.IKVM.tagsoup.1.2.1" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.12.0.197" newVersion="5.12.0.197" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ChemAxon.IKVM.commons.exec.1.1" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.12.0.197" newVersion="5.12.0.197" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ChemAxon.IKVM.MarvinBeans.formats.d2s" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.12.0.197" newVersion="5.12.0.197" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ChemAxon.IKVM.xmlbeans.2.5.0" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.12.0.197" newVersion="5.12.0.197" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ChemAxon.IKVM.commons.codec.1.4" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.12.0.197" newVersion="5.12.0.197" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ChemAxon.IKVM.commons.logging.1.1.1" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.12.0.197" newVersion="5.12.0.197" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ChemAxon.IKVM.dom4j" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.12.0.197" newVersion="5.12.0.197" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ChemAxon.IKVM.fontbox.1.7.1" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.12.0.197" newVersion="5.12.0.197" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ChemAxon.IKVM.jempbox.1.7.1" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.12.0.197" newVersion="5.12.0.197" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ChemAxon.IKVM.MarvinBeans.plugin" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.12.0.197" newVersion="5.12.0.197" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ChemAxon.IKVM.jchem.sss" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.12.0.197" newVersion="5.12.0.197" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ChemAxon.IKVM.jchem.reaction" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.12.0.197" newVersion="5.12.0.197" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JChemExt" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.12.0.197" newVersion="5.12.0.197" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ChemAxon.IKVM.jchem.db" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.12.0.197" newVersion="5.12.0.197" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ChemAxon.IKVM.jchem" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.12.0.197" newVersion="5.12.0.197" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ChemAxon.IKVM.MarvinBeans.jep" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.12.0.197" newVersion="5.12.0.197" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ChemAxon.IKVM.MarvinBeans.beans" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.12.0.197" newVersion="5.12.0.197" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ChemAxon.IKVM.jchem.descriptors" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.12.0.197" newVersion="5.12.0.197" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ChemAxon.IKVM.mysql.connector.java.5.1.10.bin" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.12.0.197" newVersion="5.12.0.197" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ChemAxon.IKVM.MarvinBeans.checkers" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.12.0.197" newVersion="5.12.0.197" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ChemAxon.IKVM.MarvinBeans.sketch" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.12.0.197" newVersion="5.12.0.197" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ChemAxon.IKVM.MarvinBeans.gui" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.12.0.197" newVersion="5.12.0.197" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="InChINet" publicKeyToken="21089ca69f156643" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="OpenBabelNet" publicKeyToken="21089ca69f156643" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="OpenEyeNet" publicKeyToken="21089ca69f156643" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ChemImageNet" publicKeyToken="21089ca69f156643" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ExtUtilsNet" publicKeyToken="21089ca69f156643" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ChemSpider.Interoperability" publicKeyToken="21089ca69f156643" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ChemSpider.Database" publicKeyToken="21089ca69f156643" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ChemSpider.Utilities" publicKeyToken="21089ca69f156643" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ChemSpider" publicKeyToken="21089ca69f156643" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="indigo-dotnet" publicKeyToken="ca8e3320bc4499e0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.5589.31742" newVersion="1.1.5589.31742" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="indigo-inchi-dotnet" publicKeyToken="6a31cb7055c16a21" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.5589.31744" newVersion="1.1.5589.31744" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="indigo-renderer-dotnet" publicKeyToken="09f0421d14bc0b92" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.5589.31744" newVersion="1.1.5589.31744" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.9.0" newVersion="1.4.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.Runtime" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.42.1.102" newVersion="0.42.1.102" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.SwingAWT" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.42.1.102" newVersion="0.42.1.102" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Core" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.42.1.102" newVersion="0.42.1.102" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Text" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.42.1.102" newVersion="0.42.1.102" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.XML.API" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.42.1.102" newVersion="0.42.1.102" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Util" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.42.1.102" newVersion="0.42.1.102" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Security" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.42.1.102" newVersion="0.42.1.102" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Naming" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.42.1.102" newVersion="0.42.1.102" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Jdbc" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.42.1.102" newVersion="0.42.1.102" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Beans" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.42.1.102" newVersion="0.42.1.102" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Media" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.42.1.102" newVersion="0.42.1.102" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.XML.Bind" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.42.1.102" newVersion="0.42.1.102" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Remoting" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.42.1.102" newVersion="0.42.1.102" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Management" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.42.1.102" newVersion="0.42.1.102" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.XML.WebServices" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.42.1.102" newVersion="0.42.1.102" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Misc" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.42.1.102" newVersion="0.42.1.102" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Charsets" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.42.1.102" newVersion="0.42.1.102" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.Runtime.JNI" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.42.1.102" newVersion="0.42.1.102" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.XML.RelaxNG" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.42.1.102" newVersion="0.42.1.102" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.XML.Parse" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.42.1.102" newVersion="0.42.1.102" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.AWT.WinForms" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.42.1.102" newVersion="0.42.1.102" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework.MappingAPI" publicKeyToken="7ee2e825d201459e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.1.0.9" newVersion="6.1.0.9" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>