<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ChemSpider.Molecules" version="1.1.0" targetFramework="net45" />
  <package id="ChemSpider.Toolkit" version="1.1.0" targetFramework="net45" />
  <package id="ChemSpider.Utilities" version="1.0.12" targetFramework="net45" />
  <package id="ICSharpCode.SharpZipLib.dll" version="0.85.4.369" targetFramework="net45" />
  <package id="Indigo.Toolkit" version="1.1.12" targetFramework="net45" />
  <package id="XMLDiffPatch" version="1.0.8.28" targetFramework="net45" />
</packages>