<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ChemSpider.Formats.External.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <ChemSpider.Formats.External.Properties.Settings>
            <setting name="ChemSpider_Formats_External_CSWebService_Synonyms_Synonyms" serializeAs="String">
                <value>http://localhost:8000/Synonyms.asmx</value>
            </setting>
            <setting name="ChemSpider_Formats_External_CSWebService_PropertiesImport_Properties" serializeAs="String">
                <value>http://localhost:8000/PropertiesImport.asmx</value>
            </setting>
        </ChemSpider.Formats.External.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="indigo-dotnet" publicKeyToken="ca8e3320bc4499e0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.4857.30199" newVersion="1.1.4857.30199" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="indigo-inchi-dotnet" publicKeyToken="6a31cb7055c16a21" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.4857.30201" newVersion="1.1.4857.30201" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="indigo-renderer-dotnet" publicKeyToken="09f0421d14bc0b92" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.4857.30200" newVersion="1.1.4857.30200" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.9.0" newVersion="1.4.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup></configuration>
