<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CSDB.Properties.Settings.ChemSpiderConnectionString" connectionString="Data Source=SSH-DELL\SQLEXPRESS;Initial Catalog=ChemSpider;User ID=sa" providerName="System.Data.SqlClient"/>
        <add name="ChemSpider.Database.Properties.Settings.ChemSpiderConnectionString" connectionString="Data Source=SSH-DELL\SQLEXPRESS;Initial Catalog=ChemSpider;User ID=sa" providerName="System.Data.SqlClient"/>
        <add name="ChemSpider.Database.Properties.Settings.ChemSpiderConnectionString1" connectionString="Data Source=chemspider;Initial Catalog=ChemSpider;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="ChemSpider.Database.Properties.Settings.ChemSpiderConnectionString2" connectionString="Data Source=SQLHUB;Initial Catalog=ChemSpider;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="indigo-dotnet" publicKeyToken="ca8e3320bc4499e0" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.1.4857.30199" newVersion="1.1.4857.30199"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="indigo-inchi-dotnet" publicKeyToken="6a31cb7055c16a21" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.1.4857.30201" newVersion="1.1.4857.30201"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="indigo-renderer-dotnet" publicKeyToken="09f0421d14bc0b92" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.1.4857.30200" newVersion="1.1.4857.30200"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
