<appSettings>
  <!-- Moved App Settings from Unit Test project into the CVSPWorker config - there may be some which are not required. -->
  <add key="chemspider_service_key" value="d12a3327-4d66-4256-a1b7-cc4916c925c9" />
  <add key="inchi_program_v104" value="inchi-1_04.exe" />
  <add key="inchi_arguments_v104" value="%1 %2 %3 %4 /Key" />
  <add key="ClientSettingsProvider.ServiceUri" value="" />
  <!-- ACDLabs: install ACDLabs to be able to run tests-->
  <add key="n2s_program" value="C:/ACD12/N2STRBAT.EXE" />
  <add key="n2s_arguments" value="%1 %2 -UNDEFDBL+ -DICT+ -SMILES+ -CON -Q -QUIET" />
  <add key="MaxAtomLimit_4_Validation2Run" value="1000" />
  <add key="MaxAtomLimit_4_SmilesValidation2Run" value="200" />
  <!-- do not put higher number as smiles validation involves layout which takes very long for large molecules-->
  <add key="MaxAtomLimit_4_Standardization2Run" value="1000" />
  <add key="MaxAtomLimit_4_TautomerCanonicalization" value="200" />
  <add key="MaxAtomLimit_4_Layout" value="300" />
</appSettings>