@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_FlexLayout.cshtml";
}

@section css {
    <style>
    </style>
}

<div id="layoutManager">
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            var config = {
                layout: {
                    id: 'mainLayout',
                    saveState: true,
                    layoutType: 'flex',
                    items: [
                    {
                        id: 'general-area',
                        top: '0',
                        left: '0',
                        right: '30%',
                        bottom: '100%',
                        allowMaximize: true,
                        tabs: {
                            items: [{
                                active: true,
                                title: 'General',
                                name: 'general',
                                class: 'general',
                                view: {
                                    id: 'structure',
                                    name: 'molecule2d',
                                    options: {
                                        width: '100%',
                                        height: '100%',
                                        //id: 14977
                                    }
                                }
                            }, {
                                title: 'Details',
                                name: 'details',
                                class: 'details',
                                view: {
                                    name: 'areastats'
                                }
                            }]
                        }
                    },
                    {
                        top: '0',
                        left: '30%',
                        right: '70%',
                        bottom: '40%',
                        tabs: {
                            items: [{
                                active: true,
                                title: 'Synonyms',
                                name: 'synonyms',
                                class: 'synonyms',
                                view: {
                                    name: 'areastats'
                                }
                            }, {
                                title: 'Datasources',
                                name: 'datasources',
                                class: 'datasources',
                                view: {
                                    name: 'areastats'
                                }
                            }, {
                                title: 'Articles',
                                name: 'articles',
                                class: 'articles',
                                view: {
                                    name: 'areastats'
                                }
                            }, {
                                title: 'Pattents',
                                name: 'pattents',
                                class: 'pattents',
                                view: {
                                    name: 'areastats'
                                }
                            }, {
                                title: 'Description',
                                name: 'description',
                                class: 'description',
                                view: {
                                    name: 'areastats'
                                }
                            }, {
                                title: 'Vendors',
                                name: 'vendors',
                                class: 'vendors',
                                view: {
                                    name: 'areastats'
                                }
                            }, {
                                title: 'Properties',
                                name: 'properties',
                                class: 'properties',
                                view: {
                                    name: 'areastats'
                                }
                            }, {
                                title: 'Wiki',
                                name: 'wiki',
                                class: 'wiki',
                                //view: {
                                //    name: 'areastats'
                                //}
                                layout: {
                                    border: 'between',
                                    overflow: 'hidden',
                                    layoutType: 'vertical',
                                    allowResize: true,
                                    allowSplit: false,
                                    items: [{
                                        size: '50',
                                        allowSplit: false,
                                        view: {
                                            name: 'areastats'
                                        }
                                    }, {
                                        size: '*',
                                        allowSplit: false,
                                        layout: {
                                            border: 'between',
                                            overflow: 'hidden',
                                            layoutType: 'horizontal',
                                            allowResize: true,
                                            items: [{
                                                size: '50%',
                                                allowSplit: false,
                                                view: {
                                                    name: 'areastats'
                                                }
                                            }, {
                                                size: '50%',
                                                allowSplit: false,
                                                view: {
                                                    name: 'areastats'
                                                }
                                            }]
                                        }
                                    }, {
                                        size: '50',
                                        allowSplit: false,
                                        view: {
                                            name: 'areastats'
                                        }
                                    }]
                                }
                            }]
                        }
                    },
                    {
                        top: '40%',
                        left: '30%',
                        right: '100%',
                        bottom: '100%',
                        tabs: {
                            items: [{
                                active: true,
                                title: 'Spectra',
                                name: 'spectra',
                                class: 'spectra',
                                view: {
                                    name: 'areastats'
                                }
                            }, {
                                title: 'Crystals',
                                name: 'crystals',
                                class: 'crystals',
                                view: {
                                    name: 'areastats'
                                }
                            }]
                        }
                    }]
                }
            };

            $('#layoutManager').layoutmanager({
                saveState: true,
                config: config,
                bind: [{
                    attrName: 'name',
                    attrValue: 'molecule2d',
                    value: { options: { id: 14977 } }
                }]
            });
        });
    </script>
}