@{
    ViewBag.Title = "ChemSpider Compounds | JSDraw Editor";
    Layout = "~/Views/Shared/_DemoLayout.cshtml";
}

<hgroup class="title">
    <h3>JSDraw structure editor widget</h3>
</hgroup>

<hgroup class="content">
    <div id="jsdrawEditor"></div>

    <hr />
    <button id="getSmilesBtn" type="button" class="btn btn-default">Get SMILES</button>
    <button id="getMolBtn" type="button" class="btn btn-default">Get MOL</button>

    <hr />

    Code example how to put widget on page...

    <pre class="brush: js;">
        $("#jsdrawEditor").jsdraw({
            width: 700,
            height: 400,
            smiles: 'CC(=O)Oc1ccccc1C(=O)O'
        });
    </pre>

    ... and get structure as SMILES... 

    <pre class="brush: js;">
        var smiles = $("#jsdrawEditor").jsdraw('smiles');
    </pre>

    ... or as MOL

    <pre class="brush: js;">
        var mol = $("#jsdrawEditor").jsdraw('molecule');
    </pre>
</hgroup>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {

            $("#jsdrawEditor").jsdraw({
                width: 700,
                height: 400,
                smiles: 'CC(=O)Oc1ccccc1C(=O)O'
            });

            $('#getSmilesBtn').click(function () {
                alert($("#jsdrawEditor").jsdraw('smiles'));
            });

            $('#getMolBtn').click(function () {
                alert($("#jsdrawEditor").jsdraw('molecule'));
            });
        });
    </script>
}
