<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <sectionGroup name="Search">
      <section name="Wrappers" type="System.Configuration.NameValueSectionHandler" />
    </sectionGroup>
    <section name="RSCID" type="ChemSpider.Profile.RSCID.RSCIDSection" allowLocation="true" requirePermission="false" allowDefinition="Everywhere"></section>
    <section name="ScriptsBundle" type="ChemSpider.Mvc.Config.ScriptsBundleSection" allowLocation="true" requirePermission="false" allowDefinition="Everywhere" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="ChemSpider.Parts" type="ChemSpider.Parts.Client.PartsSection" allowLocation="true" requirePermission="false" allowDefinition="Everywhere"></section>
    <section name="ChemSpider.Datasources" type="ChemSpider.Datasources.DatasourcesSection" allowLocation="true" requirePermission="false" allowDefinition="Everywhere"></section>
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="CompoundsConnection" connectionString="Data Source=localhost;MultipleActiveResultSets=True;Initial Catalog=RSCCompounds;Integrated Security=True; Connection Timeout=60;" providerName="System.Data.SqlClient" />
    <add name="PropertiesConnection" connectionString="Data Source=localhost;MultipleActiveResultSets=True;Initial Catalog=RSCProperties;Integrated Security=True; Connection Timeout=60;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <Search>
    <Wrappers>
      <add key="ChemSpider.Compounds.Search.CSCSimpleSearch" value="ChemSpider.Search.CSAsyncSearch" />
      <add key="ChemSpider.Compounds.Search.CSCIntrinsicPropertiesSearch" value="ChemSpider.Search.CSAsyncSearch" />
      <add key="ChemSpider.Compounds.Search.CSCDataSourceSearch" value="ChemSpider.Search.CSAsyncSearch" />
      <add key="ChemSpider.Compounds.Search.CSCSimilarityStructureSearch" value="ChemSpider.Search.CSAsyncSearch" />
      <add key="ChemSpider.Compounds.Search.CSCSubstructureSearch" value="ChemSpider.Search.CSAsyncSearch" />
      <add key="ChemSpider.Compounds.Search.CSCExactStructureSearch" value="ChemSpider.Search.CSAsyncSearch" />
      <add key="ChemSpider.Compounds.Search.CSCAdvancedSearch" value="ChemSpider.Search.CSAsyncSearch" />
    </Wrappers>
  </Search>
  <!-- localhost:47207 -->
  <!--<RSCID>
    <platformId value="32B58C1C-E214-4DD4-AB24-C411BEA9B5A2" />
    <secretKey value="398C3384-6769-47DF-BDF0-EBBA24DE7EA9" />
    <authorization url="https://www.rsc-uat.org/rsc-id/authorization" />
    <accessToken url="https://www.rsc-uat.org/rsc-id/accesstoken" />
    <userDetails url="https://www.rsc-uat.org/rsc-id/userdetails" />
    <isLoggedIn url="https://www.rsc-uat.org/rsc-id/account/checkifuserisloggedin" />
    <header url="http://api.data.rsc-uat.org/v2.0/content/header/chemspider" />
    <footer url="http://api.data.rsc-uat.org/v2.0/content/footer/chemspider" />
    <accessDeniedPage url="/Account/AccessDenied" />
    <manualConnectWithRSCIDPage url="/ConnectWithRSC/RSCAccount" />
    <extensionsToSkip value=".png|.gif|.jpg|.css|.ico|.html|.htm|.js|.axd|.xsl|.xslt|.eot|.woff|.ttf|.jar" />
  </RSCID>-->
  <!-- api.dev.rsc-us.org -->
  <!--RSCID>
    <platformId value="BA5E2155-8A80-45EB-A9EB-8BA3E387ED41" />
    <secretKey value="BD6EA68C-0D90-4FF4-B3B2-1756DDB411B6" />
    <authorization url="https://www.rsc-uat.org/rsc-id/authorization" />
    <accessToken url="https://www.rsc-uat.org/rsc-id/accesstoken" />
    <userDetails url="https://www.rsc-uat.org/rsc-id/userdetails" />
    <isLoggedIn url="https://www.rsc-uat.org/rsc-id/account/checkifuserisloggedin" />
    <header url="http://api.data.rsc-uat.org/v2.0/content/header/chemspider" />
    <footer url="http://api.data.rsc-uat.org/v2.0/content/footer/chemspider" />
    <accessDeniedPage url="http://parts.dev.rsc-us.org/Account/AccessDenied"/>
    <manualConnectWithRSCIDPage url="http://parts.dev.rsc-us.org/ConnectWithRSC/RSCAccount"/>
    <extensionsToSkip value=".png|.gif|.jpg|.css|.ico|.html|.htm|.js|.axd|.xsl|.xslt|.eot|.woff|.ttf|.jar" />
    <applicationHost url="http://api.dev.rsc-us.org" />
  </RSCID-->
  <!-- api.beta.rsc-us.org -->
  <!--RSCID>
    <platformId value="32B58C1C-E214-4DD4-AB24-C411BEA9B5A2" />
    <secretKey value="15D3FCE4-EC3D-44E8-BC12-4BF7E5C1DE6E" />
    <authorization url="https://www.rsc-uat.org/rsc-id/authorization" />
    <accessToken url="https://www.rsc-uat.org/rsc-id/accesstoken" />
    <userDetails url="https://www.rsc-uat.org/rsc-id/userdetails" />
    <isLoggedIn url="https://www.rsc-uat.org/rsc-id/account/checkifuserisloggedin" />
    <header url="http://api.data.rsc-uat.org/v2.0/content/header/chemspider" />
    <footer url="http://api.data.rsc-uat.org/v2.0/content/footer/chemspider" />
    <accessDeniedPage url="http://parts.beta.rsc-us.org/Account/AccessDenied"/>
    <manualConnectWithRSCIDPage url="http://parts.beta.rsc-us.org/ConnectWithRSC/RSCAccount"/>
    <extensionsToSkip value=".png|.gif|.jpg|.css|.ico|.html|.htm|.js|.axd|.xsl|.xslt|.eot|.woff|.ttf|.jar" />
    <applicationHost url="http://api.beta.rsc-us.org" />
  </RSCID-->
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="elmah.mvc.disableHandler" value="false" />
    <add key="elmah.mvc.disableHandleErrorFilter" value="false" />
    <add key="elmah.mvc.requiresAuthentication" value="false" />
    <add key="elmah.mvc.IgnoreDefaultRoute" value="false" />
    <add key="elmah.mvc.allowedRoles" value="*" />
    <add key="elmah.mvc.allowedUsers" value="*" />
    <add key="elmah.mvc.route" value="elmah" />
    <add key="elmah.mvc.UserAuthCaseSensitive" value="true" />
  </appSettings>
  <ScriptsBundle version="0.2.0" />
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <!--<httpModules>
      <add name="RSCIDAuthenticationModule" type="ChemSpider.Profile.RSCID.AuthenticationModule, ChemSpider.Profile.RSCID" />
    </httpModules>-->
    <authentication mode="None"></authentication>
    <!--    
    <membership defaultProvider="AspNetSqlMembershipProvider">
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" connectionStringName="ChemUsersConnectionString" applicationName="ChemSpider" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="1000" requiresUniqueEmail="true" minRequiredNonalphanumericCharacters="0" minRequiredPasswordLength="6" type="System.Web.Security.SqlMembershipProvider" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="AspNetSqlRoleProvider" cacheRolesInCookie="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ChemUsersConnectionString" applicationName="ChemSpider" />
      </providers>
    </roleManager>
    <profile enabled="true" defaultProvider="TableProfileProvider" inherits="ChemSpider.Profile.Data.Models.ChemSpiderProfile">
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ChemUsersConnectionString" applicationName="ChemSpider" />
        <add name="TableProfileProvider" type="Microsoft.Samples.SqlTableProfileProvider, ChemSpider.Profile.Data" connectionStringName="ChemUsersConnectionString" table="users" applicationName="ChemSpider" />
      </providers>
    </profile>
-->
    <machineKey validationKey="abbacab1abbacab2abbacab3abbacab4abbacab5" decryptionKey="abbacab1abbacab2abbacab3abbacab4abbacab5abbacab6" validation="SHA1" decryption="AES" />
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
    </httpModules>
  </system.web>
  <system.webServer>
    <httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="404" />
      <error statusCode="404" responseMode="Redirect" path="/Errors/NotFound" />
    </httpErrors>
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
    </staticContent>
    <modules>
      <add name="RSCIDAuthenticationModule" type="ChemSpider.Profile.RSCID.AuthenticationModule, ChemSpider.Profile.RSCID" />
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="indigo-dotnet" publicKeyToken="ca8e3320bc4499e0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.5589.31742" newVersion="1.1.5589.31742" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.9.0" newVersion="1.4.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="dotNetRDF" publicKeyToken="6055ffe4c97cc780" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.3.0" newVersion="1.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework.MappingAPI" publicKeyToken="7ee2e825d201459e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.1.0.9" newVersion="6.1.0.9" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="indigo-renderer-dotnet" publicKeyToken="09f0421d14bc0b92" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.5589.31744" newVersion="1.1.5589.31744" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="indigo-inchi-dotnet" publicKeyToken="6a31cb7055c16a21" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.5589.31744" newVersion="1.1.5589.31744" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ChemSpider.Molecules" publicKeyToken="21089ca69f156643" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.29773" newVersion="1.0.0.29773" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <ChemSpider.Parts>
    <base url="http://parts.chemspider.com" />
    <version value="0.2.0" />
    <debug value="true" />
  </ChemSpider.Parts>
  <ChemSpider.Datasources>
    <base url="http://ops2.rsc.org/ds/" />
    <!--<base url="http://localhost:24309/" />-->
    <debug value="true" />
  </ChemSpider.Datasources>
  <elmah>
    <security allowRemoteAccess="true" />
  </elmah>
</configuration>