<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <sectionGroup name="Search">
      <section name="Wrappers" type="System.Configuration.NameValueSectionHandler" />
    </sectionGroup>
    <section name="ChemSpider.Parts" type="ChemSpider.Parts.Client.PartsSection" allowLocation="true" requirePermission="false" allowDefinition="Everywhere"></section>
    <section name="ChemSpider.Compounds" type="ChemSpider.Compounds.CompoundsSection" allowLocation="true" requirePermission="false" allowDefinition="Everywhere"></section>
  </configSections>
  <connectionStrings>
    <add name="CompoundsConnectionString" connectionString="Data Source=SQLHUB;MultipleActiveResultSets=True;Initial Catalog=SureChEMBL;Integrated Security=True; Connection Timeout=60;" providerName="System.Data.SqlClient" />
    <add name="ChemTranConnectionString" connectionString="Server=SQLHub; Database=ChemTran; Integrated Security=True; Connection Timeout=600;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <Search>
    <Wrappers>
      <add key="ChemSpider.Compounds.Search.CSCSimpleSearch" value="ChemSpider.Search.CSAsyncSearch" />
      <add key="ChemSpider.Compounds.Search.CSCIntrinsicPropertiesSearch" value="ChemSpider.Search.CSAsyncSearch" />
      <add key="ChemSpider.Compounds.Search.CSCDataSourceSearch" value="ChemSpider.Search.CSAsyncSearch" />
      <add key="ChemSpider.Compounds.Search.CSCSimilarityStructureSearch" value="ChemSpider.Search.CSAsyncSearch" />
      <add key="ChemSpider.Compounds.Search.CSCSubstructureSearch" value="ChemSpider.Search.CSAsyncSearch" />
      <add key="ChemSpider.Compounds.Search.CSCExactStructureSearch" value="ChemSpider.Search.CSAsyncSearch" />
      <add key="ChemSpider.Compounds.Search.CSCAdvancedSearch" value="ChemSpider.Search.CSAsyncSearch" />
    </Wrappers>
  </Search>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="404" />
      <error statusCode="404" responseMode="Redirect" path="/Errors/NotFound" />
    </httpErrors>
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
    </staticContent>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="indigo-dotnet" publicKeyToken="ca8e3320bc4499e0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.5106.28609" newVersion="1.1.5106.28609" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.9.0" newVersion="1.4.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ChemAxon.IKVM.aloe.1.0" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.12.0.197" newVersion="5.12.0.197" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ChemAxon.IKVM.chemaxon.core" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.12.0.197" newVersion="5.12.0.197" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ChemAxon.IKVM.MarvinBeans.formats.name" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.12.0.197" newVersion="5.12.0.197" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ChemAxon.IKVM.MarvinBeans.formats" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.12.0.197" newVersion="5.12.0.197" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ChemAxon.IKVM.MarvinBeans" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.12.0.197" newVersion="5.12.0.197" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ChemAxon.IKVM.MarvinBeans.license" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.12.0.197" newVersion="5.12.0.197" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ChemAxon.IKVM.pdfbox.1.7.1" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.12.0.197" newVersion="5.12.0.197" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ChemAxon.IKVM.tagsoup.1.2.1" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.12.0.197" newVersion="5.12.0.197" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ChemAxon.IKVM.commons.exec.1.1" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.12.0.197" newVersion="5.12.0.197" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ChemAxon.IKVM.MarvinBeans.formats.d2s" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.12.0.197" newVersion="5.12.0.197" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ChemAxon.IKVM.xmlbeans.2.5.0" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.12.0.197" newVersion="5.12.0.197" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ChemAxon.IKVM.commons.codec.1.4" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.12.0.197" newVersion="5.12.0.197" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ChemAxon.IKVM.commons.logging.1.1.1" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.12.0.197" newVersion="5.12.0.197" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ChemAxon.IKVM.dom4j" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.12.0.197" newVersion="5.12.0.197" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ChemAxon.IKVM.fontbox.1.7.1" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.12.0.197" newVersion="5.12.0.197" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ChemAxon.IKVM.jempbox.1.7.1" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.12.0.197" newVersion="5.12.0.197" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ChemAxon.IKVM.MarvinBeans.plugin" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.12.0.197" newVersion="5.12.0.197" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ChemAxon.IKVM.jchem.sss" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.12.0.197" newVersion="5.12.0.197" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ChemAxon.IKVM.jchem.reaction" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.12.0.197" newVersion="5.12.0.197" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JChemExt" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.12.0.197" newVersion="5.12.0.197" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ChemAxon.IKVM.jchem.db" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.12.0.197" newVersion="5.12.0.197" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ChemAxon.IKVM.jchem" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.12.0.197" newVersion="5.12.0.197" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ChemAxon.IKVM.MarvinBeans.jep" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.12.0.197" newVersion="5.12.0.197" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ChemAxon.IKVM.MarvinBeans.beans" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.12.0.197" newVersion="5.12.0.197" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ChemAxon.IKVM.jchem.descriptors" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.12.0.197" newVersion="5.12.0.197" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ChemAxon.IKVM.mysql.connector.java.5.1.10.bin" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.12.0.197" newVersion="5.12.0.197" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ChemAxon.IKVM.MarvinBeans.checkers" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.12.0.197" newVersion="5.12.0.197" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ChemAxon.IKVM.MarvinBeans.sketch" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.12.0.197" newVersion="5.12.0.197" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ChemAxon.IKVM.MarvinBeans.gui" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.12.0.197" newVersion="5.12.0.197" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.XML.Parse" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.42.1.113" newVersion="0.42.1.113" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.Runtime" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.42.1.113" newVersion="0.42.1.113" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.SwingAWT" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.42.1.113" newVersion="0.42.1.113" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Core" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.42.1.113" newVersion="0.42.1.113" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Text" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.42.1.113" newVersion="0.42.1.113" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.XML.API" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.42.1.113" newVersion="0.42.1.113" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Util" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.42.1.113" newVersion="0.42.1.113" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Security" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.42.1.113" newVersion="0.42.1.113" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Naming" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.42.1.113" newVersion="0.42.1.113" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Jdbc" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.42.1.113" newVersion="0.42.1.113" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Media" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.42.1.113" newVersion="0.42.1.113" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Misc" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.42.1.113" newVersion="0.42.1.113" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Management" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.42.1.113" newVersion="0.42.1.113" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Charsets" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.42.1.113" newVersion="0.42.1.113" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.Runtime.JNI" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.42.1.113" newVersion="0.42.1.113" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Beans" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.42.1.113" newVersion="0.42.1.113" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.XML.RelaxNG" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.42.1.113" newVersion="0.42.1.113" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.XML.Bind" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.42.1.113" newVersion="0.42.1.113" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Remoting" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.42.1.113" newVersion="0.42.1.113" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.XML.WebServices" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.42.1.113" newVersion="0.42.1.113" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.XML.Transform" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.42.1.113" newVersion="0.42.1.113" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.AWT.WinForms" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.42.1.113" newVersion="0.42.1.113" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <ChemSpider.Compounds>
    <!--<base url="https://parts.api.rsc.org/compounds/v1/" />-->
    <!--<base url="https://api.dev.rsc-us.org/compounds/v1/" />-->
    <base url="http://api.dev.rsc-us.org/compounds/v1/" />
    <debug value="false" />
  </ChemSpider.Compounds>
  <ChemSpider.Parts>
    <base url="http://parts.chemspider.com" />
    <debug value="false" />
  </ChemSpider.Parts>
</configuration>
