.cvsp-jobs-filter {
}

.cvsp-jobs-filter .status,
.cvsp-jobs-filter .command {
    min-height: 160px;
    max-height: 160px;
    overflow: auto;
    padding: 1em;
}

.cvsp-jobs-filter .status .radio,
.cvsp-jobs-filter .command .radio {
    margin-top: 0px;
    margin-bottom: 5px;
}
