@{
	ViewBag.Title = "CVSP | Record Information";
	Layout = "~/Views/Shared/_DemoLayout.cshtml";
}

<hgroup class="title">
	<h3>CVSP Record information</h3>
</hgroup>

<hgroup class="content" style="margin: .5em;">
	<div id="record"></div>

	<hr />

	Code example how to put widget on page...

	<pre class="brush: js;">
		$('#record').record_info({
			id: 'fbcc72e4-be37-4457-9e9f-d899fedbd5c6'
		});
    </pre>

</hgroup>

@section Scripts {
	<script type="text/javascript">
		$(document).ready(function () {
			$.Depositions.store.getDepositionsGUIDs(0, -1, function (guids) {
				if (guids.length > 0) {
					$.Depositions.store.getDepositionRecords(guids[0], 0, 10, function (ids) {
						console.log(ids);
						if (ids.length > 0) {
							$('#record').record_info({
								id: ids[0]
							});
						}
						else {
						}
					});
				}
				else {
				}
			});
        });
	</script>
}
