@{
    ViewBag.Title = "Home Page";
}

<p>
    Chemistry Validation and Standardization Platform (CVSP) provides a service to users that would like to validate and standardize their chemical structure records.
</p>
<p>
    This service would be of value to those submitting their data to any chemistry database and/or for checking chemistry prior to submitting electronic structure files for publication.
</p>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('li.home').addClass('active');
        });
    </script>
}
