<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="files_storage_root" value="C:\CVSPStorage" />
    <add key="ws_retries" value="50" />
    <add key="ws_timeout" value="30000" />
    <add key="security_token" value="04d957eb-bc72-46c6-a602-bc14c29e1ed9" />
    <add key="upload2gcn_chunk_size" value="100" />
    <add key="chemspider_service_key" value="d12a3327-4d66-4256-a1b7-cc4916c925c9" />
    <add key="inchi_program_v104" value="inchi-1_04.exe" />
    <add key="inchi_arguments_v104" value="%1 %2 %3 %4 /Key" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!-- ACDLabs: install ACDLabs to be able to run tests-->
    <add key="n2s_program" value="C:/ACD12/N2STRBAT.EXE" />
    <add key="n2s_arguments" value="%1 %2 -UNDEFDBL+ -DICT+ -SMILES+ -CON -Q -QUIET" />
    <add key="MaxAtomLimit_4_Validation2Run" value="1000" />
    <add key="MaxAtomLimit_4_SmilesValidation2Run" value="200" />
    <!-- do not put higher number as smiles validation involves layout which takes very long for large molecules-->
    <add key="MaxAtomLimit_4_Standardization2Run" value="1000" />
    <add key="MaxAtomLimit_4_TautomerCanonicalization" value="200" />
    <add key="MaxAtomLimit_4_Layout" value="300" />
    <!-- 30 minutes-->
    <!-- Tautomer plugin settings for CVSP-->
    <add key="ChemAxonTimeLimit" value="900" />
    <add key="setProtectAllTetrahedralStereoCenters" value="True" />
    <add key="setProtectAromaticity" value="False" />
    <add key="setProtectDoubleBondStereo" value="False" />
    <add key="setProtectEsterGroups" value="True" />
    <add key="setProtectCharge" value="False" />
    <add key="setProtectLabeledTetrahedralStereoCenters" value="True" />
    <add key="setExcludeAntiAromaticCompounds" value="False" />
    <add key="setRationalTautomerGenerationMode" value="False" />
    <add key="setMaxStructureCount" value="1000" />
    <add key="setMaximumTautomerizationPathLength" value="4" />
    <!-- default is 4; zero is no limit (not working)-->
    <add key="setTakeCanonicalForm" value="True" />
    <add key="setCleanResultStructures" value="True" />
  </appSettings>
  <connectionStrings>
    <add name="ChemUsersConnectionString" connectionString="Server=localhost;MultipleActiveResultSets=True;Initial Catalog=ChemUsers;Integrated Security=True;Connection Timeout=60;" providerName="System.Data.SqlClient" />
    <add name="CVSPConnection" connectionString="Data Source=localhost;MultipleActiveResultSets=True;Initial Catalog=ChemValidator;Integrated Security=True; Connection Timeout=60;" providerName="System.Data.SqlClient" />
    <add name="PropertiesConnection" connectionString="Server=localhost; MultipleActiveResultSets=True;Initial Catalog=RSCProperties2;Integrated Security=True;Connection Timeout=60;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ChemicalValidationSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8010/ChemValidatorWebSite/ChemicalValidation.asmx" binding="basicHttpBinding" bindingConfiguration="ChemicalValidationSoap" contract="CVSPWebService.ChemicalValidationSoap" name="ChemicalValidationSoap" />
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!-- Uncomment for using 1.1.10 as indigo-1.1.11 has a bug 
		<dependentAssembly>
			<assemblyIdentity name="indigo-dotnet" publicKeyToken="ca8e3320bc4499e0" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-1.1.5106.28609" newVersion="1.1.5106.28609" />
		</dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="indigo-inchi-dotnet" publicKeyToken="6a31cb7055c16a21" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-1.1.5106.28611" newVersion="1.1.5106.28611" />
		</dependentAssembly>
		<dependentAssembly>
			<assemblyIdentity name="indigo-renderer-dotnet" publicKeyToken="09f0421d14bc0b92" culture="neutral" />
			<bindingRedirect oldVersion="0.0.0.0-1.1.5106.28610" newVersion="1.1.5106.28610" />
		</dependentAssembly>
		-->
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.9.0" newVersion="1.4.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.Runtime" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.42.1.102" newVersion="0.42.1.102" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.SwingAWT" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.42.1.102" newVersion="0.42.1.102" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Core" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.42.1.102" newVersion="0.42.1.102" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Text" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.42.1.102" newVersion="0.42.1.102" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.XML.API" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.42.1.102" newVersion="0.42.1.102" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Util" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.42.1.102" newVersion="0.42.1.102" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Security" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.42.1.102" newVersion="0.42.1.102" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Naming" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.42.1.102" newVersion="0.42.1.102" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Jdbc" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.42.1.102" newVersion="0.42.1.102" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Beans" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.42.1.102" newVersion="0.42.1.102" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Media" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.42.1.102" newVersion="0.42.1.102" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.XML.Bind" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.42.1.102" newVersion="0.42.1.102" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Remoting" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.42.1.102" newVersion="0.42.1.102" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Management" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.42.1.102" newVersion="0.42.1.102" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.XML.WebServices" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.42.1.102" newVersion="0.42.1.102" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Misc" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.42.1.102" newVersion="0.42.1.102" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Charsets" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.42.1.102" newVersion="0.42.1.102" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.Runtime.JNI" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.42.1.102" newVersion="0.42.1.102" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.XML.RelaxNG" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.42.1.102" newVersion="0.42.1.102" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.XML.Parse" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.42.1.102" newVersion="0.42.1.102" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.AWT.WinForms" publicKeyToken="d25ce09139c726a9" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.42.1.102" newVersion="0.42.1.102" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="indigo-dotnet" publicKeyToken="ca8e3320bc4499e0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.5589.31742" newVersion="1.1.5589.31742" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="indigo-renderer-dotnet" publicKeyToken="09f0421d14bc0b92" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.5589.31744" newVersion="1.1.5589.31744" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="indigo-inchi-dotnet" publicKeyToken="6a31cb7055c16a21" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.5589.31744" newVersion="1.1.5589.31744" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework.MappingAPI" publicKeyToken="7ee2e825d201459e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.1.0.9" newVersion="6.1.0.9" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>