@model OpenPHACTSWeb2.DatasourceCompoundsView

@{
    ViewBag.Title = "Datasource's Compounds";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="compounds"></div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#compounds').compounds_tileview({
                count: @Model.Count,
                imageSize: 175,
                tooltipSize: 250,
                itemsProviderUrl: '@Url.Content("~/api/datasources/" + @Model.Guid + "/compounds")',
                onClick: function (event, id) {
                    window.location = '@Url.Content("~/Compounds/")' + id;
                },
                tooltipFields: [
                    { name: 'COMPOUND_ID', title: 'ID' },
                    { name: 'IsVirtual', title: 'Virtual', format: function(virtual) { return virtual ? 'Yes' : 'No'; } },
                    { name: 'CompoundTypes', title: 'Type', format: buildCompoundTypesProperty },
                    { name: 'MolecularFormula', title: 'Molecular Formula', format: function (value) { return value.molecularFormula(); } },
                    { name: 'Indigo_MonoisotopicMass', title: 'Monoisotopic Mass', format: function (value) { return parseFloat(value).toFixed(6) + ' Da'; } },
                    { name: 'Indigo_MolecularWeight', title: 'Molecular Weight', format: function (value) { return parseFloat(value).toFixed(3) + ' Da'; } }
                ]
            });
        });
    </script>
}


