USE [master]
GO
/****** Object:  Database [ChemSpiderCompounds]    Script Date: 1/13/2014 2:13:36 PM ******/
CREATE DATABASE [ChemSpiderCompounds]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ChemSpiderCompounds', FILENAME = N'E:\MSSQL\ChemSpiderCompounds.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ChemSpiderCompounds_log', FILENAME = N'E:\MSSQL\ChemSpiderCompounds_1.ldf' , SIZE = 8192KB , MAXSIZE = 16GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ChemSpiderCompounds].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ChemSpiderCompounds]
GO

/****** Object:  SqlAssembly [ChemCartridge]    Script Date: 1/13/2014 2:13:38 PM ******/
CREATE ASSEMBLY [ChemCartridge]
FROM 0x4D5A90000300000004000000FFFF0000B800000000000000400000000000000000000000000000000000000000000000000000000000000000000000800000000E1FBA0E00B409CD21B8014CCD21546869732070726F6772616D2063616E6E6F742062652072756E20696E20444F53206D6F64652E0D0D0A2400000000000000504500004C010300BF0243510000000000000000E00002210B0108000014000000060000000000005E330000002000000040000000004000002000000002000004000000000000000400000000000000008000000002000000000000030040850000100000100000000010000010000000000000100000000000000000000000043300005700000000400000A003000000000000000000000000000000000000006000000C00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000200000080000000000000000000000082000004800000000000000000000002E7465787400000064130000002000000014000000020000000000000000000000000000200000602E72737263000000A0030000004000000004000000160000000000000000000000000000400000402E72656C6F6300000C0000000060000000020000001A000000000000000000000000000040000042000000000000000000000000000000004033000000000000480000000200050074240000900E000001000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001330030069000000010000110F00281000000A2C0714281100000A2A0F00281200000A731300000A16731400000A0A731500000A0B06731600000A0C07731700000A0D0820000400006F1800000A13040911046F1900000A11048E6920000400002EE0076F1A00000A076F1B00000A281100000A2A0000001330030069000000010000110F00281000000A2C0714281100000A2A0F00281200000A731300000A17731400000A0A731500000A0B06731600000A0C07731700000A0D0820000400006F1800000A13040911046F1900000A11048E6920000400002EE0076F1A00000A076F1B00000A281100000A2A620F00FE16040000016F1C00000A2807000006731D00000A2A620F00FE16040000016F1C00000A2808000006731D00000A2A7A0F00FE16040000016F1C00000A7201000070196F1E00000A731D00000A2A9A0F00FE16040000016F1C00000A0F01FE16040000016F1C00000A17281F00000A282000000A2A000000133005006300000002000011720F000070732100000A0A06026F2200000A2D02162A160B026F2300000A19590C170D2B2202086F2400000A1F2D2E130702086F2400000A1F3059092517580D5A580B0817590C08162FDA071F0A5D02026F2300000A17596F2400000A1F3059FE012A001330050063000000020000117235000070732100000A0A06026F2200000A2D02162A160B160C170D2B2202086F2400000A1F2D2E130702086F2400000A1F3059092517580D5A580B0817580C08026F2300000A175932D3071F0B5D02026F2300000A17596F2400000A1F3059FE012A0013300400BF0000000300001102282500000A2C02142A725700007017732600000A0A06026F2700000A0B076F2800000A2D02142A1B8D1B0000010C081602A20817076F2900000A186F2A00000A6F2B00000A166F2C00000A6F2D00000AA20818076F2900000A196F2A00000A6F2B00000A166F2C00000A6F2D00000AA20819076F2900000A1A6F2A00000A6F2B00000A166F2C00000A6F2D00000AA2081A076F2900000A176F2A00000A6F2B00000A166F2C00000A6F2D00000AA2732E00000A0D09086F2F00000A26092A0013300300230000000400001102750100001B0A0306169A510406199A510506189A510E0406179A510E05061A9A512A22020328100000062A1E02283000000A2A13300300100000000500001103280E0000060A020306280F0000062A76239A9999999999114002283100000A5823E2CCAFE600A120405A025A2AAA23000000000000F03F23000000000000F03F035B02283100000A046523E2CCAFE600A120405B5B585B2A000000133003005C000000060000110203280D0000060A030B160C2B340817580C06033410070306592300000000000000405B580B06033610070603592300000000000000405B590B0207280D0000060A060359283200000A237B14AE47E17A843F3605081F3232B4072A42534A4201000100000000000C00000076322E302E35303732370000000005006C00000004050000237E000070050000D405000023537472696E677300000000440B0000E000000023555300240C0000100000002347554944000000340C00005C02000023426C6F620000000000000002000001571D02080900000000FA25330016000001000000250000000300000001000000100000001C0000003200000001000000160000000600000001000000010000000300000000000A000100000000000600600059000A00880073000A009E0073000A00A900730006000501F2000A00B5019A010600FB01DC010600A20290020600B90290020600D60290020600F502900206000E03900206002703900206004203900206005D03900206007603DC0106008A0390020600C303A3030600E303A3030A000F049A0106004F0445040E0072045C0406007D0445040E0084045C040600940445040600A10445040600D50459000600DC0459000E001705F8040E001D05F8040E005505F8040E005B05F8040E006D05F8040E009105F8040E00B005F8040600B805F2000600C60559000000000001000000000001000100010010001C0000000500010001008101100031003B00050001000D0056805B014500502000000000960092000A000100C82000000000960099000A0003003D21000000009600B300110005005621000000009600BB00110006006F21000000009600C600110007008E21000000009600CE0018000800B821000000009100DB0021000A002822000000009100E70021000B009822000000009600110126000C00642300000000960020012C000D00932300000000960033013B0013009C23000000008618550141001500A4230000000096005D013B001500C0230000000096006A0151001700DE230000000096005D01560018000C2400000000960033013B001B0000000000000000000100C70100000000000000000100C70100000100CA0100000100CA0100000100CA0100000100CA0100000200CD0100000100D00100000100D00100000100D20100000100D80102000200D201020003000802020004001102020005001902020006002202000001002D02000002004202000001005102000002005A02000001007202000001005102000002005A02000003007902000001002D02000002004202310055014100390055014100410055017000490055017000510055017000590055017000610055017000690055017000710055017000790055017000810055017500890055017000910055017A00990055014100A1005501410011002404840011002F04880011003B048F00A90055019400B10055019A00A90055014100C9005501A200D1005501A200C900AE04A800D100B8049400B900BE044100A900C4048F000900CC04BB00190055017500D900ED04BF00E9002A05C60019002F04CE00E90055017000E9002A05D400D9003205D900D9003D05DD00D90047052100E90055019E01E9005505A501010161058400F9007D05AB0109018805B1010101A305B80111018805BE0119013B04BB002101550141002101C205C5010900550141002901CB0551002901CF0551000D000400480020007B007F0024000B005D002E006B0032022E005B00FB012E002300FB012E0043000E022E0073003B022E001B00E8012E004B00FB012E002B00FB012E00330001022E003B00E80140007B007F0044000B005D0060007B007F0064000B005D0080007B007F0084000B005D00A0007B007F00C0007B007F0020017B00EA0060017B007F00AE00E200CA01D901DE01E201D6010480000001000000D6121F4F000000000000010400000200000000000000000000000100500000000000020000000000000000000000010067000000000002000000000000000000000001005900000000000000003C4D6F64756C653E004368656D4361727472696467652E646C6C0055736572446566696E656446756E6374696F6E73004E6F6D6F6772617068004368656D5370696465722E4D6F6C6563756C6573006D73636F726C69620053797374656D004F626A6563740053797374656D2E446174610053797374656D2E446174612E53716C54797065730053716C42696E61727900556E477A697000477A69700053716C426F6F6C65616E0053716C537472696E67004973434153524E00497345494E454353524E004973496E4368490049734D6174636852656765780069734341534E756D62657200697345434E756D6265720053797374656D2E436F6C6C656374696F6E730049456E756D657261626C6500476574496E4368494C617965727300676574496E4368494C61796572735F726F7700426F696C696E67506F696E74417441746D6F737068657269635072657373757265002E63746F72005200426F696C696E67506F696E7400456E7468616C70794F665661706F72697A6174696F6E5F54726F75746F6E48696C64656272616E6445766572657474004D6963726F736F66742E53716C5365727665722E5365727665720053716C466163657441747472696275746500677A006964007265007300696E636869006F626A0053797374656D2E52756E74696D652E496E7465726F705365727669636573004F757441747472696275746500696E6368695F6D6600696E6368695F6300696E6368695F636800696E6368695F63687369006578706572696D656E74616C5072657373757265006578706572696D656E74616C4270007072657373757265006270417441746D6F7370686572696350726573737572650054625F61746D00456E7468616C70794F665661706F72697A6174696F6E0053797374656D2E5265666C656374696F6E00417373656D626C795469746C6541747472696275746500417373656D626C794465736372697074696F6E41747472696275746500417373656D626C79436F6E66696775726174696F6E41747472696275746500417373656D626C79436F6D70616E7941747472696275746500417373656D626C7950726F6475637441747472696275746500417373656D626C79436F7079726967687441747472696275746500417373656D626C7954726164656D61726B41747472696275746500417373656D626C7943756C7475726541747472696275746500436F6D56697369626C6541747472696275746500417373656D626C7956657273696F6E4174747269627574650053797374656D2E52756E74696D652E436F6D70696C6572536572766963657300436F6D70696C6174696F6E52656C61786174696F6E734174747269627574650052756E74696D65436F6D7061746962696C697479417474726962757465004368656D4361727472696467650053716C46756E6374696F6E417474726962757465006765745F49734E756C6C006F705F496D706C69636974006765745F56616C75650053797374656D2E494F004D656D6F727953747265616D0053797374656D2E494F2E436F6D7072657373696F6E00475A697053747265616D0053747265616D00436F6D7072657373696F6E4D6F64650042696E6172795265616465720042696E6172795772697465720052656164427974657300577269746500466C75736800546F417272617900546F537472696E6700537472696E6700537472696E67436F6D70617269736F6E00537461727473576974680053797374656D2E546578742E526567756C617245787072657373696F6E730052656765780052656765784F7074696F6E730049734D61746368006765745F4C656E677468006765745F43686172730049734E756C6C4F72456D707479004D617463680047726F7570006765745F537563636573730047726F7570436F6C6C656374696F6E006765745F47726F757073006765745F4974656D0043617074757265436F6C6C656374696F6E006765745F436170747572657300436170747572650041727261794C69737400416464004D617468004C6F67004162730000000D49006E004300680049003D0000255E005C0064007B0031002C0036007D002D005C0064007B0032007D002D005C006400240001215E005C0064007B0033007D002D005C0064007B0033007D002D005C00640024000180855E0028002800280049006E004300680049003D0028003F003A005C006400290053003F002F0028005B005E002F005D002B00290028003F003A002F0063005B005E002F005D002B0029003F00290028003F003A002F0068005B005E002F005D002B0029003F0029002E002A003F00290028003F003A002F0066002E002A0029003F002400000000F52B76E051F4434AA89F3A7FE180FDAA0008B77A5C561934E08906000111091109060001110D1111080002110D11111111040001020E05000112150E0E0006011C100E100E100E100E100E0500020D0D0D0320000102060D08E2CCAFE600A120400400010D0D0600030D0D0D0D12010001005408074D617853697A65FFFFFFFF042001010E0420010102042001010804010000000320000206000111091D050420001D05052001011D0507200201125D116105200101125D0520011D05080C070512591255126512691D050320000E062002020E1171070003020E0E1179050001110D02042001020E032000080420010308070704127508080880B201000200540E1146696C6C526F774D6574686F644E616D6512676574496E4368494C61796572735F726F77540E0F5461626C65446566696E6974696F6E74696E636869206E76617263686172286D6178292C20696E6368695F6D66206E7661726368617228323030292C20696E6368695F63206E76617263686172286D6178292C20696E6368695F6368206E76617263686172286D6178292C20696E6368695F63687369206E76617263686172286D617829062002010E1179052001127D0E0520001280850620011280810805200012808906200112808D08042001081C0B07041275127D1D0E128091021D0E0407011D0E0307010D0507030D0D081201000D4368656D43617274726964676500000501000000000C0100074368656D5A6F6F00002301001E436F7079726967687420C2A9204368656D5A6F6F20323030382D3230303900000801000800000000001E01000100540216577261704E6F6E457863657074696F6E5468726F77730100002C33000000000000000000004E330000002000000000000000000000000000000000000000000000403300000000000000000000000000000000000000005F436F72446C6C4D61696E006D73636F7265652E646C6C0000000000FF250020400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100100000001800008000000000000000000000000000000100010000003000008000000000000000000000000000000100000000004800000058400000480300000000000000000000480334000000560053005F00560045005200530049004F004E005F0049004E0046004F0000000000BD04EFFE00000100000001001F4FD612000001001F4FD6123F000000000000000400000002000000000000000000000000000000440000000100560061007200460069006C00650049006E0066006F00000000002400040000005400720061006E0073006C006100740069006F006E00000000000000B004A8020000010053007400720069006E006700460069006C00650049006E0066006F00000084020000010030003000300030003000340062003000000030000800010043006F006D00700061006E0079004E0061006D006500000000004300680065006D005A006F006F00000044000E000100460069006C0065004400650073006300720069007000740069006F006E00000000004300680065006D00430061007200740072006900640067006500000040000F000100460069006C006500560065007200730069006F006E000000000031002E0030002E0034003800320032002E00320030003200350035000000000044001200010049006E007400650072006E0061006C004E0061006D00650000004300680065006D004300610072007400720069006400670065002E0064006C006C00000060001E0001004C006500670061006C0043006F007000790072006900670068007400000043006F0070007900720069006700680074002000A90020004300680065006D005A006F006F00200032003000300038002D00320030003000390000004C00120001004F0072006900670069006E0061006C00460069006C0065006E0061006D00650000004300680065006D004300610072007400720069006400670065002E0064006C006C0000003C000E000100500072006F0064007500630074004E0061006D006500000000004300680065006D00430061007200740072006900640067006500000044000F000100500072006F006400750063007400560065007200730069006F006E00000031002E0030002E0034003800320032002E00320030003200350035000000000048000F00010041007300730065006D0062006C0079002000560065007200730069006F006E00000031002E0030002E0034003800320032002E003200300032003500350000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000C000000603300000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
WITH PERMISSION_SET = SAFE
GO

/****** Object:  StoredProcedure [dbo].[AddRdfExport]    Script Date: 1/13/2014 2:13:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddRdfExport]
	@dsn_id int,
	@version_id int
AS
BEGIN
	DECLARE @exp_id int
	INSERT rdf_exports (date_exported, dsn_id, version_id)
		VALUES (GETDATE(), @dsn_id, @version_id)
	SELECT @exp_id = SCOPE_IDENTITY()
	SELECT @exp_id
END

GO
/****** Object:  StoredProcedure [dbo].[ArchiveTransactions]    Script Date: 1/13/2014 2:13:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ArchiveTransactions](@cutoff_date datetime)
AS
BEGIN
	delete from transactions
	output deleted.*
	into transactions_archived
	where date_started < @cutoff_date
END

GO
/****** Object:  StoredProcedure [dbo].[ClearSessionValues]    Script Date: 1/13/2014 2:13:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ClearSessionValues](@ses_id varchar(50))
AS
BEGIN
  delete from session_vars where ses_id = @ses_id

  RETURN 0
END

GO
/****** Object:  StoredProcedure [dbo].[FinishTransaction]    Script Date: 1/13/2014 2:13:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[FinishTransaction]
	@trn_id uniqueidentifier,
	@result_code int,
	@message varchar(1000),
	@result_data image
AS
	if @result_data is not null
		update transactions
		set message = @message, result_data = @result_data, date_updated = getdate()
		where trn_id = @trn_id
	else
		update transactions
		set message = @message, date_updated = getdate()
		where trn_id = @trn_id

GO
/****** Object:  StoredProcedure [dbo].[GetSessionValue]    Script Date: 1/13/2014 2:13:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetSessionValue]
	@ses_id varchar(50),
	@key varchar(50),
	@strVal varchar(300) OUT
--	@blobVal image OUT
AS
	SELECT @strVal = v_string--, @blobVal = v_blob
	FROM session_vars 
	WHERE ses_id = @ses_id and v_key = @key

GO
/****** Object:  StoredProcedure [dbo].[GetWebServiceStats]    Script Date: 1/13/2014 2:13:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetWebServiceStats]
	@token varchar(36) = NULL,
	@email varchar(30) = NULL,
	@company_name varchar(100)=NULL,
	@date_start varchar(8) = NULL,
	@date_end varchar(8) = NULL,
	@web_service varchar(100) = NULL
AS
	SELECT	u.usr_id AS usr_id, 
			ChemUsers.dbo.fGetUserName(u.usr_id) AS name, 
			u.email AS email,
			ChemUsers.dbo.fGetCompanyName_tidy(u.company_name, u.email, u.last_name) AS company_name,
			ISNULL(y.token, 'Anonymous') AS token,
			y.svc_name AS svc_name,
			y.date_end AS date_end,
			y.date_start AS date_start,
			y.requests_count AS requests_count
		FROM 
			(SELECT SUM(x.requests_count) AS requests_count, 
				x.token as guid_token,
				CONVERT(varchar(36), x.token) AS token,
				x.svc_name,
				x.date_start, 
				x.date_end 
			FROM
				(SELECT	ss.token AS token,
						ss.svc_name AS svc_name, 
						CONVERT(varchar(10), ss.date_start, 112) AS date_start,
						CONVERT(varchar(10), ss.date_end, 112) AS date_end, 
						ss.requests_count AS requests_count 
					FROM ChemTran.dbo.service_stats ss
				/* ***COMMENT THIS PART ON DEV WHERE THE STANDBY SQL SERVERS DO NOT EXIST.***
				UNION ALL 
					SELECT	ss.token AS token,
						ss.svc_name AS svc_name, 
						CONVERT(varchar(10), ss.date_start, 112) AS date_start,
						CONVERT(varchar(10), ss.date_end, 112) AS date_end, 
						ss.requests_count AS requests_count 
					FROM [FENTON\STANDBY].ChemTran.dbo.service_stats ss
				UNION ALL 
					SELECT	ss.token AS token,
						ss.svc_name AS svc_name, 
						CONVERT(varchar(10), ss.date_start, 112) AS date_start,
						CONVERT(varchar(10), ss.date_end, 112) AS date_end, 
						ss.requests_count AS requests_count 
					FROM [LYNX\STANDBY].ChemTran.dbo.service_stats ss
				 */					
				) AS x 
					GROUP BY x.token, x.svc_name, x.date_start, x.date_end) AS y
			LEFT JOIN ChemUsers.dbo.users u ON y.guid_token = u.user_guid
	WHERE y.token = @token OR ISNULL(@token, '') = ''
	AND ((@date_start IS NULL OR @date_start = '') OR y.date_start >= @date_start)
	AND ((@date_end IS NULL OR @date_end = '') OR y.date_end <= @date_end)
	AND ((@email IS NULL OR @email = '') OR u.email = @email)
	AND ((@company_name IS NULL OR @company_name = '') OR u.company_name = @company_name)
	AND ((@web_service IS NULL OR @web_service = '') OR y.svc_name = @web_service)

GO
/****** Object:  StoredProcedure [dbo].[GetWebServiceTimestamp]    Script Date: 1/13/2014 2:13:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetWebServiceTimestamp]
	@token uniqueidentifier,
	@service varchar(100)
AS
	declare @svc_id int, @usr_id int
	
	select @svc_id = svc_id from ChemUsers..web_services where name = @service
	
	if @token is not null
		select @usr_id = usr_id from ChemUsers..users where user_guid = @token
	
	if @svc_id is not null
		select [timestamp] from service_timestamps where svc_id = @svc_id and (@usr_id is null or usr_id = @usr_id)

GO
/****** Object:  StoredProcedure [dbo].[LogServiceError]    Script Date: 1/13/2014 2:13:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LogServiceError]
	@token uniqueidentifier,
	@service varchar(100),
	@message varchar(4000)
AS
	declare @svc_id int, @usr_id int
	

GO
/****** Object:  StoredProcedure [dbo].[LogServiceTransaction]    Script Date: 1/13/2014 2:13:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LogServiceTransaction]
	@token uniqueidentifier,
	@service varchar(100)
AS
	declare @sst_id int
	
	if @token is null
			select top 1 @sst_id = sst_id
			from service_stats
			where svc_name = @service and date_start <= GETDATE() and date_end > GETDATE()
	  else
			select @sst_id = sst_id
			from service_stats
			where token = @token and svc_name = @service and date_start <= GETDATE() and date_end > GETDATE()
	
	if @sst_id is not null
		update service_stats
		set requests_count = requests_count + 1
		where sst_id = @sst_id
	else begin
		declare @start smalldatetime, @end smalldatetime
		select @start = cast(cast(YEAR(GETDATE()) as varchar(10)) + '-' + cast(MONTH(GETDATE()) as varchar(10)) + '-1' as smalldatetime)
		SELECT @end = DATEADD(month, 1, @start) 
		insert into service_stats (token, svc_name, date_start, date_end, requests_count)
		values (@token, @service, @start, @end, 1)
	end
	
GO
/****** Object:  StoredProcedure [dbo].[RegisterTransaction]    Script Date: 1/13/2014 2:13:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RegisterTransaction](
  @trn_id uniqueidentifier,
	@ses_id uniqueidentifier,
	@address varchar(100),
	@referrer varchar(200),
	@type char(1),
	@predicate varchar(2000),
	@status char(1),
	@result_data varbinary(max)
)
AS
begin
  insert into transactions (trn_id, ses_id, address, referrer, type, predicate, status, result_data, date_updated)
	 values (@trn_id, @ses_id, @address, @referrer, @type, @predicate, @status, @result_data, getdate())

  return 0
end

GO
/****** Object:  StoredProcedure [dbo].[SearchByMolSim]    Script Date: 1/13/2014 2:13:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SearchByMolSim](@smiles varchar(3000), @metrics_type varchar(100), @metrics_value float)
AS
BEGIN
	select id as csid, similarity
	from dbo.fSearchByMolSim(@smiles, @metrics_type, @metrics_value)
	order by 2 desc
END

GO
/****** Object:  StoredProcedure [dbo].[SearchByMolSub]    Script Date: 1/13/2014 2:13:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SearchByMolSub](@smiles varchar(3000), @parameters varchar(20))
AS
BEGIN
	select id as csid, similarity
	from dbo.fSearchByMolSub(@smiles, @parameters)
	order by 2 desc
END

GO
/****** Object:  StoredProcedure [dbo].[SearchBySMARTSSub]    Script Date: 1/13/2014 2:13:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SearchBySMARTSSub](@smarts varchar(3000), @parameters varchar(20))
AS
BEGIN
	select id as csid, similarity
	from dbo.fSearchBySMARTSSub(@smarts, @parameters)
	order by 2 desc
END

GO
/****** Object:  StoredProcedure [dbo].[SearchWebServiceErrors]    Script Date: 1/13/2014 2:13:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SearchWebServiceErrors]
	@svc_id int = null,
	@user_filter varchar(50) = null
AS
	SELECT se.ser_id, ws.svc_id, ws.name as ws_name, CONVERT(varchar(10), se.timestamp, 103) as date, SUBSTRING(CONVERT(varchar(20), se.timestamp, 120), 12, 10) as time, se.message, se.usr_id, [ChemUsers].dbo.fGetUserName(se.usr_id) as 'user_name'
	  FROM service_errors se inner join [ChemUsers].dbo.web_services ws on se.svc_id = ws.svc_id
			left outer join [ChemUsers].dbo.v_users u on u.usr_id = se.usr_id
	 WHERE (@svc_id is null or se.svc_id = @svc_id )
		and (isnull(@user_filter, '') = '' 
			or upper(u.first_name) like '%' + upper(@user_filter) + '%'
			or upper(u.last_name) like '%' + upper(@user_filter) + '%'
			or upper(u.username) like '%' + upper(@user_filter) + '%'
		)
	ORDER By se.timestamp desc;

GO
/****** Object:  StoredProcedure [dbo].[SetKeepCache]    Script Date: 1/13/2014 2:13:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SetKeepCache]
AS
BEGIN
	exec bingo.SetKeepCache 'compounds_sss', 1
END


GO
/****** Object:  StoredProcedure [dbo].[SetSessionValue]    Script Date: 1/13/2014 2:13:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SetSessionValue]
	@ses_id varchar(50),
	@key varchar(50),
	@strVal varchar(300) = null,
	@blobVal image = null
AS
	delete from session_vars
	WHERE ses_id = @ses_id and v_key = @key

	INSERT INTO session_vars (ses_id, v_key, v_string, v_blob)
	VALUES (@ses_id, @key, @strVal, @blobVal)

GO
/****** Object:  StoredProcedure [dbo].[UpdateRdfExport]    Script Date: 1/13/2014 2:13:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateRdfExport]
	@exp_id INT,
	@has_failed BIT,
	@has_finished BIT,
	@error_message VARCHAR(MAX),
	@export_directory VARCHAR(MAX)
AS
BEGIN
	UPDATE rdf_exports
		SET has_failed = @has_failed, error_message = @error_message, has_finished = @has_finished, export_directory = @export_directory
	WHERE exp_id = @exp_id
END

GO
/****** Object:  StoredProcedure [dbo].[UpdateTransaction]    Script Date: 1/13/2014 2:13:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateTransaction](
  @trn_id uniqueidentifier,
  @result_data varbinary(max) = null,
	@count int = null,
	@progress float = null,
	@status char(1) = null,
  @message varchar(1000) = null
)
AS
begin
  update transactions 
	 set date_updated = getdate()
	   , result_data = isnull(@result_data, result_data)
	   , count = isnull(@count, count)
	   , progress = isnull(@progress, progress)
	   , status = isnull(@status, status)
	   , message = isnull(@message, message)
   where trn_id = @trn_id
  
  return 0
end
GO


/****** Object:  UserDefinedFunction [dbo].[fCompoundDatasourcesCount]    Script Date: 1/13/2014 2:13:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fCompoundDatasourcesCount](@csid bigint)
RETURNS int
AS
BEGIN
	return (
		select count(sc.csid) 
		from sid_csid sc 
			inner join substances s on sc.sid = s.sid
		where csid = @csid)
END

GO
/****** Object:  UserDefinedFunction [dbo].[fCompoundHasSubstances]    Script Date: 1/13/2014 2:13:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fCompoundHasSubstances](@csid bigint)
RETURNS bit
AS
BEGIN
	return (select isnull((select top 1 1 from sid_csid where csid = @csid), 0))
END

GO
/****** Object:  UserDefinedFunction [dbo].[fCompoundRefsCount]    Script Date: 1/13/2014 2:13:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fCompoundRefsCount](@csid bigint)
RETURNS int
AS
BEGIN
	return (
		select count(ref.xref_data) 
		from sid_csid sc 
			inner join substance_xrefs ref on sc.sid = ref.sid
		where csid = @csid)
END

GO
/****** Object:  UserDefinedFunction [dbo].[fGetCompoundTitle]    Script Date: 1/13/2014 2:13:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fGetCompoundTitle](@csid int) 
  RETURNS nvarchar(max)
AS
BEGIN
	declare @title nvarchar(max)

	select top 1 @title = synonym
	from chemspider_synonyms s 
		inner join compounds c on s.chemspider_csid = c.chemspider_csid
	where c.csid = @csid
		and s.compound_title_yn = 1
		and s.validated_yn = 1
		and s.lang_id1 = 'en'
		and s.dbid_yn = 0

	if @title is null begin
		select top 1 @title = synonym_display
		from substance_derived_synonyms s
			inner join substance_synonyms ss on s.synonym_id = ss.synonym_id
			inner join sid_csid sc on ss.sid = sc.sid
		where sc.csid = @csid
			and s.lang_id = 'en'
	end

	return @title
END

GO
/****** Object:  UserDefinedFunction [dbo].[fGetSysName]    Script Date: 1/13/2014 2:13:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create FUNCTION [dbo].[fGetSysName](@csid int)
  RETURNS nvarchar(max)
AS
BEGIN
	RETURN dbo.fGetCompoundTitle(@csid) 
END
GO
/****** Object:  UserDefinedFunction [dbo].[GetInChILayers]    Script Date: 1/13/2014 2:13:38 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE FUNCTION [dbo].[GetInChILayers](@inchi [nvarchar](4000))
RETURNS  TABLE (
	[inchi] [nvarchar](max) NULL,
	[inchi_mf] [nvarchar](200) NULL,
	[inchi_c] [nvarchar](max) NULL,
	[inchi_ch] [nvarchar](max) NULL,
	[inchi_chsi] [nvarchar](max) NULL
) WITH EXECUTE AS CALLER
AS 
EXTERNAL NAME [ChemCartridge].[UserDefinedFunctions].[GetInChILayers]
GO
/****** Object:  UserDefinedFunction [dbo].[Gzip]    Script Date: 1/13/2014 2:13:38 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE FUNCTION [dbo].[Gzip](@gz [varbinary](max))
RETURNS [varbinary](max) WITH EXECUTE AS CALLER
AS 
EXTERNAL NAME [ChemCartridge].[UserDefinedFunctions].[Gzip]
GO
/****** Object:  UserDefinedFunction [dbo].[IsCASRN]    Script Date: 1/13/2014 2:13:38 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE FUNCTION [dbo].[IsCASRN](@id [nvarchar](4000))
RETURNS [bit] WITH EXECUTE AS CALLER
AS 
EXTERNAL NAME [ChemCartridge].[UserDefinedFunctions].[IsCASRN]
GO
/****** Object:  UserDefinedFunction [dbo].[IsEINECSRN]    Script Date: 1/13/2014 2:13:38 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE FUNCTION [dbo].[IsEINECSRN](@id [nvarchar](4000))
RETURNS [bit] WITH EXECUTE AS CALLER
AS 
EXTERNAL NAME [ChemCartridge].[UserDefinedFunctions].[IsEINECSRN]
GO
/****** Object:  UserDefinedFunction [dbo].[IsInChI]    Script Date: 1/13/2014 2:13:38 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE FUNCTION [dbo].[IsInChI](@id [nvarchar](4000))
RETURNS [bit] WITH EXECUTE AS CALLER
AS 
EXTERNAL NAME [ChemCartridge].[UserDefinedFunctions].[IsInChI]
GO
/****** Object:  UserDefinedFunction [dbo].[IsMatchRegex]    Script Date: 1/13/2014 2:13:38 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE FUNCTION [dbo].[IsMatchRegex](@id [nvarchar](4000), @re [nvarchar](4000))
RETURNS [bit] WITH EXECUTE AS CALLER
AS 
EXTERNAL NAME [ChemCartridge].[UserDefinedFunctions].[IsMatchRegex]
GO
/****** Object:  UserDefinedFunction [dbo].[UnGzip]    Script Date: 1/13/2014 2:13:38 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE FUNCTION [dbo].[UnGzip](@gz [varbinary](max))
RETURNS [varbinary](max) WITH EXECUTE AS CALLER
AS 
EXTERNAL NAME [ChemCartridge].[UserDefinedFunctions].[UnGzip]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Table [dbo].[chemspider_properties]    Script Date: 1/13/2014 2:13:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chemspider_properties](
	[chemspider_csid] [int] NOT NULL,
	[ALogP] [float] NULL,
	[XLogP] [float] NULL,
	[Average_Mass] [real] NULL,
	[Density] [real] NULL,
	[Density_Error] [real] NULL,
	[Index_Of_Refraction] [real] NULL,
	[Index_Of_Refraction_Error] [real] NULL,
	[Molar_Refractivity] [real] NULL,
	[Molar_Refractivity_Error] [real] NULL,
	[Molar_Volume] [real] NULL,
	[Molar_Volume_Error] [real] NULL,
	[Monoisotopic_Mass] [float] NULL,
	[Nominal_Mass] [real] NULL,
	[Parachor] [real] NULL,
	[Parachor_Error] [real] NULL,
	[Polarizability] [real] NULL,
	[Polarizability_Error] [real] NULL,
	[Surface_Tension] [float] NULL,
	[Surface_Tension_Error] [real] NULL,
	[FP] [real] NULL,
	[FP_Error] [real] NULL,
	[Enthalpy] [real] NULL,
	[Enthalpy_Error] [real] NULL,
	[BP] [real] NULL,
	[BP_Error] [real] NULL,
	[VP] [float] NULL,
	[VP_Error] [real] NULL,
	[LogP] [real] NULL,
	[LogP_Error] [real] NULL,
	[RuleOf5] [tinyint] NULL,
	[RuleOf5_HDonors] [smallint] NULL,
	[RuleOf5_HAcceptors] [smallint] NULL,
	[RuleOf5_FRB] [smallint] NULL,
	[RuleOf5_MW] [real] NULL,
	[RuleOf5_PSA] [real] NULL,
	[LogD_1] [real] NULL,
	[LogD_2] [real] NULL,
	[BCF_1] [real] NULL,
	[BCF_2] [real] NULL,
	[KOC_1] [real] NULL,
	[KOC_2] [real] NULL,
	[last_retrieved] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[chemspider_csid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[chemspider_synonyms]    Script Date: 1/13/2014 2:13:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[chemspider_synonyms](
	[cs_syn_id] [int] IDENTITY(1,1) NOT NULL,
	[chemspider_csid] [int] NOT NULL,
	[lang_id1] [char](2) NOT NULL,
	[validated_yn] [bit] NOT NULL,
	[dbid_yn] [bit] NOT NULL,
	[compound_title_yn] [bit] NOT NULL,
	[synonym] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cs_syn_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING ON
GO
/****** Object:  Table [dbo].[compounds]    Script Date: 1/13/2014 2:13:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[compounds](
	[csid] [bigint] NOT NULL,
	[date_created] [datetime] NOT NULL,
	[chemspider_csid] [int] NULL,
	[inc_id] [int] NULL,
	[isSubstanceDerived]  AS ([dbo].[fCompoundHasSubstances]([csid])),
 CONSTRAINT [PK__compound__2C5DB514182C9B23] PRIMARY KEY CLUSTERED 
(
	[csid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[compounds_mol]    Script Date: 1/13/2014 2:13:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[compounds_mol](
	[csid] [bigint] NOT NULL,
	[mol] [varbinary](max) NOT NULL,
 CONSTRAINT [compounds_mol_pk] PRIMARY KEY CLUSTERED 
(
	[csid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING ON
GO
/****** Object:  Table [dbo].[compounds_nonstd_inchi]    Script Date: 1/13/2014 2:13:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[compounds_nonstd_inchi](
	[csid] [bigint] IDENTITY(1,1) NOT NULL,
	[non_std_inchi] [varchar](5000) NOT NULL,
	[non_std_inchi_key] [varchar](100) NOT NULL,
 CONSTRAINT [PK__compound__2C5DB5147D98A078] PRIMARY KEY CLUSTERED 
(
	[csid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__compound__D3EDD08700750D23] UNIQUE NONCLUSTERED 
(
	[non_std_inchi_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON
GO
/****** Object:  Table [dbo].[compounds_properties]    Script Date: 1/13/2014 2:13:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[compounds_properties](
	[csid] [bigint] NOT NULL,
	[mw_indigo] [float] NULL,
	[monoisotopicMass_indigo] [float] NULL,
	[mostAbundantMass_indigo] [float] NULL,
	[mw_oe] [float] NULL,
	[monoisotopicMass_oe] [float] NULL,
	[mf_formatted] [varchar](100) NULL,
	[ds_count]  AS ([dbo].[fCompoundDatasourcesCount]([csid])),
	[ref_count]  AS ([dbo].[fCompoundRefsCount]([csid])),
 CONSTRAINT [PK__compound__2C5DB5146A1BB7B0] PRIMARY KEY CLUSTERED 
(
	[csid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON
GO
/****** Object:  Table [dbo].[compounds_smiles]    Script Date: 1/13/2014 2:13:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[compounds_smiles](
	[csid] [bigint] NOT NULL,
	[oe_abs_smiles] [varchar](max) NOT NULL,
	[oe_abs_smiles_hash]  AS (hashbytes('MD5',[oe_abs_smiles])),
	[indigo_abs_smiles] [varchar](max) NOT NULL,
	[indigo_abs_smiles_hash]  AS (hashbytes('MD5',[indigo_abs_smiles])),
 CONSTRAINT [compounds_smiles_pk] PRIMARY KEY CLUSTERED 
(
	[csid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING ON
GO
/****** Object:  Table [dbo].[compounds_sss]    Script Date: 1/13/2014 2:13:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[compounds_sss](
	[csid] [bigint] NOT NULL,
	[smiles] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[csid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING ON
GO
/****** Object:  Table [dbo].[curated_synonym_csid]    Script Date: 1/13/2014 2:13:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[curated_synonym_csid](
	[curated_synonym_id] [bigint] NOT NULL,
	[csid] [bigint] NOT NULL,
 CONSTRAINT [curated_synonym_csid_pk] PRIMARY KEY CLUSTERED 
(
	[csid] ASC,
	[curated_synonym_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[curated_synonyms]    Script Date: 1/13/2014 2:13:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[curated_synonyms](
	[curated_synonym_id] [bigint] NOT NULL,
	[synonym] [nvarchar](1000) NOT NULL,
	[validatedBy] [bit] NULL,
	[rank] [int] NULL,
	[std_inchi] [varchar](2000) NOT NULL,
	[suu_sluud_inchi] [varchar](2000) NOT NULL,
	[oe_abs_smiles] [varchar](2000) NOT NULL,
	[indigo_abs_smiles] [varchar](2000) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[curated_synonym_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON
GO
/****** Object:  Table [dbo].[data_versions]    Script Date: 1/13/2014 2:13:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[data_versions](
	[version_id] [int] IDENTITY(1,1) NOT NULL,
	[dsn_id] [int] NOT NULL,
	[version_name] [nvarchar](200) NOT NULL,
	[dataset_license_url] [nvarchar](1000) NULL,
	[dataset_create_date] [date] NULL,
	[dataset_void_url] [nvarchar](1000) NULL,
	[dateOfDownloadFromSource] [date] NULL,
	[downloadedBy] [nvarchar](200) NULL,
	[downloadURL] [nvarchar](1000) NULL,
	[depositeDate] [date] NULL,
	[depositedBy] [nvarchar](200) NULL,
	[isReplacement] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[version_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[datasources]    Script Date: 1/13/2014 2:13:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[datasources](
	[dsn_id] [int] IDENTITY(1,1) NOT NULL,
	[dsn_name] [nvarchar](1000) NOT NULL,
	[dsn_address] [nvarchar](1000) NULL,
	[dsn_phone] [nvarchar](100) NULL,
	[dsn_url] [nvarchar](1000) NULL,
	[dsn_URI] [nvarchar](1000) NULL,
	[treatNoChirlaFlagWithUpOrDownBondsAsAbsoluteStereo] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[dsn_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[inchis]    Script Date: 1/13/2014 2:13:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[inchis](
	[inc_id] [int] IDENTITY(1,1) NOT NULL,
	[inchi_key] [char](27) NOT NULL,
	[inchi] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[inc_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[inchi_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING ON
GO
/****** Object:  Table [dbo].[inchis_md5]    Script Date: 1/13/2014 2:13:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[inchis_md5](
	[inc_id] [int] NOT NULL,
	[inchi_key] [char](27) NOT NULL,
	[inchi_key_a] [char](14) NOT NULL,
	[inchi_key_b] [char](23) NOT NULL,
	[inchi_md5] [binary](16) NOT NULL,
	[inchi_mf_md5] [binary](16) NOT NULL,
	[inchi_c_md5] [binary](16) NOT NULL,
	[inchi_ch_md5] [binary](16) NOT NULL,
	[inchi_chsi_md5] [binary](16) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[inc_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[inchi_md5] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[inchi_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON
GO
/****** Object:  Table [dbo].[parent_daughters]    Script Date: 1/13/2014 2:13:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[parent_daughters](
	[csid_parent] [bigint] NOT NULL,
	[csid_daughter] [bigint] NOT NULL,
	[parent_id] [int] NOT NULL,
 CONSTRAINT [parent_daughters_pk] PRIMARY KEY CLUSTERED 
(
	[csid_parent] ASC,
	[csid_daughter] ASC,
	[parent_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[parent_types]    Script Date: 1/13/2014 2:13:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[parent_types](
	[parent_id] [int] NOT NULL,
	[parent_name] [varchar](100) NOT NULL,
	[parent_description] [varchar](1000) NULL,
	[rdf_predicate] [varchar](100) NULL,
	[rdf_relation] [varchar](100) NULL,
	[is_inverse] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[parent_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON
GO
/****** Object:  Table [dbo].[profile_table]    Script Date: 1/13/2014 2:13:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[profile_table](
	[RowNumber] [int] IDENTITY(0,1) NOT NULL,
	[EventClass] [int] NULL,
	[TextData] [ntext] NULL,
	[ApplicationName] [nvarchar](128) NULL,
	[NTUserName] [nvarchar](128) NULL,
	[LoginName] [nvarchar](128) NULL,
	[CPU] [int] NULL,
	[Reads] [bigint] NULL,
	[Writes] [bigint] NULL,
	[Duration] [bigint] NULL,
	[ClientProcessID] [int] NULL,
	[SPID] [int] NULL,
	[StartTime] [datetime] NULL,
	[EndTime] [datetime] NULL,
	[BinaryData] [image] NULL,
PRIMARY KEY CLUSTERED 
(
	[RowNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[rdf_exported_ext_refs_snapshot]    Script Date: 1/13/2014 2:13:38 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[rdf_exported_ext_refs_snapshot](
	[erf_id] [int] IDENTITY(1,1) NOT NULL,
	[exp_id] [int] NULL,
	[cmp_id] [int] NULL,
	[ext_id] [varchar](300) NULL,
	[ext_url] [varchar](500) NULL,
 CONSTRAINT [PK__rdf_expo__6DC58F1F6AB9714A] PRIMARY KEY CLUSTERED 
(
	[erf_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON
GO
/****** Object:  Table [dbo].[rdf_exported_identifiers_snapshot]    Script Date: 1/13/2014 2:13:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[rdf_exported_identifiers_snapshot](
	[eid_id] [int] IDENTITY(1,1) NOT NULL,
	[exp_id] [int] NOT NULL,
	[inchi_key] [char](27) NOT NULL,
	[inchi] [varchar](max) NOT NULL,
	[SMILES] [varchar](max) NOT NULL,
	[name] [varchar](max) NULL,
	[csid] [int] NOT NULL,
	[cmp_id] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
SET ANSI_PADDING ON
ALTER TABLE [dbo].[rdf_exported_identifiers_snapshot] ADD [molecular_formula] [varchar](max) NULL
PRIMARY KEY CLUSTERED 
(
	[eid_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
SET ANSI_PADDING ON
GO
/****** Object:  Table [dbo].[rdf_exported_issues_snapshot]    Script Date: 1/13/2014 2:13:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[rdf_exported_issues_snapshot](
	[ei_id] [int] IDENTITY(1,1) NOT NULL,
	[exp_id] [int] NULL,
	[issue_severity] [varchar](100) NOT NULL,
	[issue_type] [int] NULL,
	[issue_description] [nvarchar](max) NULL,
	[issue_additional_description] [nvarchar](max) NULL,
	[ext_regid] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_rdf_exported_issues_snapshot] PRIMARY KEY CLUSTERED 
(
	[ei_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING ON
GO
/****** Object:  Table [dbo].[rdf_exported_parent_child_snapshot]    Script Date: 1/13/2014 2:13:38 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rdf_exported_parent_child_snapshot](
	[epc_id] [int] IDENTITY(1,1) NOT NULL,
	[exp_id] [int] NULL,
	[csid_daughter] [int] NULL,
	[csid_parent] [int] NULL,
	[parent_id] [int] NULL,
 CONSTRAINT [pk_rdf_exported_parent_child_snapshot] PRIMARY KEY CLUSTERED 
(
	[epc_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[rdf_exported_props_snapshot]    Script Date: 1/13/2014 2:13:38 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rdf_exported_props_snapshot](
	[ep_id] [int] IDENTITY(1,1) NOT NULL,
	[exp_id] [int] NOT NULL,
	[cmp_id] [int] NOT NULL,
	[ALogP] [float] NULL,
	[XLogP] [float] NULL,
	[Average_Mass] [real] NULL,
	[Density] [real] NULL,
	[Density_Error] [real] NULL,
	[Index_Of_Refraction] [real] NULL,
	[Index_Of_Refraction_Error] [real] NULL,
	[Molar_Refractivity] [real] NULL,
	[Molar_Refractivity_Error] [real] NULL,
	[Molar_Volume] [real] NULL,
	[Molar_Volume_Error] [real] NULL,
	[Monoisotopic_Mass] [float] NULL,
	[Nominal_Mass] [real] NULL,
	[Parachor] [real] NULL,
	[Parachor_Error] [real] NULL,
	[Polarizability] [real] NULL,
	[Polarizability_Error] [real] NULL,
	[Surface_Tension] [float] NULL,
	[Surface_Tension_Error] [real] NULL,
	[FP] [real] NULL,
	[FP_Error] [real] NULL,
	[Enthalpy] [real] NULL,
	[Enthalpy_Error] [real] NULL,
	[BP] [real] NULL,
	[BP_Error] [real] NULL,
	[VP] [float] NULL,
	[VP_Error] [real] NULL,
	[LogP] [real] NULL,
	[LogP_Error] [real] NULL,
	[RuleOf5] [tinyint] NULL,
	[RuleOf5_HDonors] [smallint] NULL,
	[RuleOf5_HAcceptors] [smallint] NULL,
	[RuleOf5_FRB] [smallint] NULL,
	[RuleOf5_MW] [real] NULL,
	[RuleOf5_PSA] [real] NULL,
	[LogD_1] [real] NULL,
	[LogD_2] [real] NULL,
	[BCF_1] [real] NULL,
	[BCF_2] [real] NULL,
	[KOC_1] [real] NULL,
	[KOC_2] [real] NULL,
 CONSTRAINT [PK__rdf_exported_props_snapshot] PRIMARY KEY CLUSTERED 
(
	[ep_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[rdf_exported_synonyms_snapshot]    Script Date: 1/13/2014 2:13:38 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[rdf_exported_synonyms_snapshot](
	[esn_id] [int] IDENTITY(1,1) NOT NULL,
	[exp_id] [int] NOT NULL,
	[cmp_id] [int] NOT NULL,
	[lang_id] [char](2) NOT NULL,
	[validated] [bit] NOT NULL,
	[is_dbid] [bit] NULL,
	[synonym] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[esn_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING ON
GO
/****** Object:  Table [dbo].[rdf_exports]    Script Date: 1/13/2014 2:13:38 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[rdf_exports](
	[exp_id] [int] IDENTITY(1,1) NOT NULL,
	[date_exported] [datetime] NOT NULL,
	[dsn_id] [int] NOT NULL,
	[error_message] [varchar](max) NULL,
	[has_failed] [bit] NOT NULL,
	[has_finished] [bit] NOT NULL,
	[version_id] [int] NULL,
	[export_directory] [varchar](max) NULL,
 CONSTRAINT [PK__rdf_expo__FED8E5E970724AA0] PRIMARY KEY CLUSTERED 
(
	[exp_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING ON
GO
/****** Object:  Table [dbo].[service_errors]    Script Date: 1/13/2014 2:13:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[service_errors](
	[ser_id] [int] IDENTITY(1,1) NOT NULL,
	[svc_id] [int] NOT NULL,
	[usr_id] [int] NULL,
	[timestamp] [datetime] NOT NULL,
	[message] [varchar](4000) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ser_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON
GO
/****** Object:  Table [dbo].[service_stats]    Script Date: 1/13/2014 2:13:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[service_stats](
	[sst_id] [int] IDENTITY(1,1) NOT NULL,
	[token] [uniqueidentifier] NULL,
	[svc_name] [varchar](100) NOT NULL,
	[date_start] [smalldatetime] NOT NULL,
	[date_end] [smalldatetime] NOT NULL,
	[requests_count] [int] NOT NULL,
	[date_created] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[sst_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON
GO
/****** Object:  Table [dbo].[service_timestamps]    Script Date: 1/13/2014 2:13:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[service_timestamps](
	[sts_id] [int] IDENTITY(1,1) NOT NULL,
	[svc_id] [int] NOT NULL,
	[usr_id] [int] NULL,
	[timestamp] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[sts_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[session_vars]    Script Date: 1/13/2014 2:13:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[session_vars](
	[sev_id] [int] IDENTITY(1,1) NOT NULL,
	[ses_id] [nvarchar](50) NULL,
	[v_key] [nvarchar](50) NULL,
	[v_string] [varchar](max) NULL,
	[v_blob] [varbinary](max) NULL,
	[date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[sev_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING ON
GO
/****** Object:  Table [dbo].[sid_csid]    Script Date: 1/13/2014 2:13:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sid_csid](
	[sid] [bigint] NOT NULL,
	[csid] [bigint] NOT NULL,
 CONSTRAINT [sid_csid_pk] PRIMARY KEY CLUSTERED 
(
	[csid] ASC,
	[sid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[substance_categories]    Script Date: 1/13/2014 2:13:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[substance_categories](
	[sid] [bigint] NOT NULL,
	[category_id] [int] NOT NULL,
 CONSTRAINT [substance_categories_pk] PRIMARY KEY CLUSTERED 
(
	[sid] ASC,
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[substance_category_types]    Script Date: 1/13/2014 2:13:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[substance_category_types](
	[category_id] [int] NOT NULL,
	[category_name] [nvarchar](100) NOT NULL,
	[category description] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[substance_derived_synonyms]    Script Date: 1/13/2014 2:13:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[substance_derived_synonyms](
	[synonym_id] [bigint] IDENTITY(1,1) NOT NULL,
	[synonym_display] [nvarchar](max) NOT NULL,
	[lang_id] [char](2) NULL,
	[synonym_hash]  AS (hashbytes('MD5',lower([synonym_display]))),
PRIMARY KEY CLUSTERED 
(
	[synonym_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING ON
GO
/****** Object:  Table [dbo].[substance_issues]    Script Date: 1/13/2014 2:13:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[substance_issues](
	[sid] [bigint] NOT NULL,
	[issue_severity] [varchar](100) NOT NULL,
	[issue_type] [int] NULL,
	[issue_code] [varchar](100) NOT NULL,
	[issue_description] [nvarchar](max) NULL,
	[issue_additional_description] [nvarchar](max) NULL,
	[stackTrace] [nvarchar](max) NULL,
	[sis_id] [bigint] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[sis_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING ON
GO
/****** Object:  Table [dbo].[substance_synonyms]    Script Date: 1/13/2014 2:13:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[substance_synonyms](
	[sid] [bigint] NOT NULL,
	[synonym_id] [bigint] NOT NULL,
 CONSTRAINT [substance_synonyms_pk] PRIMARY KEY CLUSTERED 
(
	[sid] ASC,
	[synonym_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[substance_versions]    Script Date: 1/13/2014 2:13:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[substance_versions](
	[sid] [bigint] NOT NULL,
	[version] [int] NOT NULL,
	[depositor_comments] [nvarchar](max) NULL,
	[depositor_std_inchi] [nvarchar](max) NULL,
	[depositor_smiles] [nvarchar](max) NULL,
	[date_deposited] [datetime] NOT NULL,
 CONSTRAINT [substance_versions_pk] PRIMARY KEY CLUSTERED 
(
	[sid] ASC,
	[version] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[substance_xrefs]    Script Date: 1/13/2014 2:13:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[substance_xrefs](
	[sid] [bigint] NOT NULL,
	[xref_type] [int] NOT NULL,
	[xref_data] [varchar](1000) NULL,
 CONSTRAINT [substance_xrefs_pk] PRIMARY KEY CLUSTERED 
(
	[sid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON
GO
/****** Object:  Table [dbo].[substances]    Script Date: 1/13/2014 2:13:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[substances](
	[sid] [bigint] IDENTITY(1,1) NOT NULL,
	[ext_regid] [nvarchar](100) NOT NULL,
	[dsn_id] [int] NOT NULL,
	[isRevoked] [bit] NULL,
	[ext_url] [varchar](1100) NULL,
PRIMARY KEY CLUSTERED 
(
	[sid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [dsn_id_ext_regid_uk] UNIQUE NONCLUSTERED 
(
	[dsn_id] ASC,
	[ext_regid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON
GO
/****** Object:  Table [dbo].[substances_sdf]    Script Date: 1/13/2014 2:13:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[substances_sdf](
	[sid] [bigint] NOT NULL,
	[version] [int] NOT NULL,
	[sdf] [varbinary](max) NULL,
 CONSTRAINT [substances_sdf_pk] PRIMARY KEY CLUSTERED 
(
	[sid] ASC,
	[version] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING ON
GO
/****** Object:  Table [dbo].[transactions]    Script Date: 1/13/2014 2:13:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[transactions](
	[trn_id] [uniqueidentifier] NOT NULL,
	[ses_id] [uniqueidentifier] NULL,
	[type] [char](1) NOT NULL,
	[address] [varchar](100) NULL,
	[referrer] [varchar](200) NULL,
	[date_started] [datetime] NOT NULL,
	[date_updated] [datetime] NULL,
	[progress] [float] NULL,
	[status] [char](1) NOT NULL,
	[predicate] [varchar](2000) NULL,
	[message] [varchar](1000) NULL,
	[result_data] [image] NULL,
	[stop] [bit] NULL,
	[count] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[trn_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING ON
GO
/****** Object:  Table [dbo].[transactions_archived]    Script Date: 1/13/2014 2:13:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[transactions_archived](
	[trn_id] [uniqueidentifier] NOT NULL,
	[ses_id] [uniqueidentifier] NULL,
	[type] [char](1) NOT NULL,
	[address] [varchar](100) NULL,
	[referrer] [varchar](200) NULL,
	[date_started] [datetime] NOT NULL,
	[date_updated] [datetime] NULL,
	[progress] [float] NULL,
	[status] [char](1) NOT NULL,
	[predicate] [varchar](2000) NULL,
	[message] [varchar](1000) NULL,
	[result_data] [image] NULL,
	[stop] [bit] NULL,
	[count] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[trn_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  UserDefinedFunction [dbo].[fSearchByMolSim]    Script Date: 1/13/2014 2:13:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fSearchByMolSim](@smiles varchar(3000), @metrics_type varchar(100), @metrics_value float)
RETURNS TABLE
AS RETURN
(
	select t.id, t.similarity
	from bingo.SearchSim('compounds_sss', @smiles, @metrics_type, @metrics_value, null) t
)

GO

/****** Object:  UserDefinedFunction [dbo].[fSearchBySMARTSSub]    Script Date: 1/13/2014 2:13:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fSearchBySMARTSSub](@smarts varchar(3000), @parameters varchar(20))
RETURNS TABLE
AS RETURN
(
	select t.id, Bingo.Sim(smiles, @smarts, 'tanimoto') as similarity
	from bingo.SearchSMARTS('compounds_sss', @smarts, @parameters) t 
		inner join compounds_sss c on c.csid = t.id
)

GO
/****** Object:  Index [chemspider_csid_idx]    Script Date: 1/13/2014 2:13:38 PM ******/
CREATE NONCLUSTERED INDEX [chemspider_csid_idx] ON [dbo].[compounds]
(
	[chemspider_csid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [compounds_inc_id]    Script Date: 1/13/2014 2:13:38 PM ******/
CREATE NONCLUSTERED INDEX [compounds_inc_id] ON [dbo].[compounds]
(
	[inc_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF

GO
/****** Object:  Index [indigo_abs_smiles_hash_idx]    Script Date: 1/13/2014 2:13:38 PM ******/
CREATE NONCLUSTERED INDEX [indigo_abs_smiles_hash_idx] ON [dbo].[compounds_smiles]
(
	[indigo_abs_smiles_hash] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF

GO
/****** Object:  Index [oe_abs_smiles_hash_idx]    Script Date: 1/13/2014 2:13:38 PM ******/
CREATE NONCLUSTERED INDEX [oe_abs_smiles_hash_idx] ON [dbo].[compounds_smiles]
(
	[oe_abs_smiles_hash] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [inchi_c_md5_idx]    Script Date: 1/13/2014 2:13:38 PM ******/
CREATE NONCLUSTERED INDEX [inchi_c_md5_idx] ON [dbo].[inchis_md5]
(
	[inchi_c_md5] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [inchi_ch_md5_idx]    Script Date: 1/13/2014 2:13:38 PM ******/
CREATE NONCLUSTERED INDEX [inchi_ch_md5_idx] ON [dbo].[inchis_md5]
(
	[inchi_ch_md5] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [inchi_chsi_md5_idx]    Script Date: 1/13/2014 2:13:38 PM ******/
CREATE NONCLUSTERED INDEX [inchi_chsi_md5_idx] ON [dbo].[inchis_md5]
(
	[inchi_chsi_md5] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [inchi_key_a_idx]    Script Date: 1/13/2014 2:13:38 PM ******/
CREATE NONCLUSTERED INDEX [inchi_key_a_idx] ON [dbo].[inchis_md5]
(
	[inchi_key_a] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [inchi_key_b_idx]    Script Date: 1/13/2014 2:13:38 PM ******/
CREATE NONCLUSTERED INDEX [inchi_key_b_idx] ON [dbo].[inchis_md5]
(
	[inchi_key_b] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [exp_id_cmp_id_rdf_exported_ext_refs_snapshot_idx]    Script Date: 1/13/2014 2:13:38 PM ******/
CREATE NONCLUSTERED INDEX [exp_id_cmp_id_rdf_exported_ext_refs_snapshot_idx] ON [dbo].[rdf_exported_ext_refs_snapshot]
(
	[exp_id] ASC,
	[cmp_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [exp_id_cmp_id_rdf_exported_identifiers_snapshot_idx]    Script Date: 1/13/2014 2:13:38 PM ******/
CREATE NONCLUSTERED INDEX [exp_id_cmp_id_rdf_exported_identifiers_snapshot_idx] ON [dbo].[rdf_exported_identifiers_snapshot]
(
	[exp_id] ASC,
	[cmp_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [exp_id_cmp_id_exported_synonyms_snapshot_idx]    Script Date: 1/13/2014 2:13:38 PM ******/
CREATE NONCLUSTERED INDEX [exp_id_cmp_id_exported_synonyms_snapshot_idx] ON [dbo].[rdf_exported_synonyms_snapshot]
(
	[exp_id] ASC,
	[cmp_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [csid_idx]    Script Date: 1/13/2014 2:13:38 PM ******/
CREATE NONCLUSTERED INDEX [csid_idx] ON [dbo].[sid_csid]
(
	[csid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [sid_csid_idx]    Script Date: 1/13/2014 2:13:38 PM ******/
CREATE NONCLUSTERED INDEX [sid_csid_idx] ON [dbo].[sid_csid]
(
	[sid] ASC
)
INCLUDE ( 	[csid]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [substance_category_types_uidx]    Script Date: 1/13/2014 2:13:38 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [substance_category_types_uidx] ON [dbo].[substance_category_types]
(
	[category_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF

GO
/****** Object:  Index [substance_derived_synonyms_uidx]    Script Date: 1/13/2014 2:13:38 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [substance_derived_synonyms_uidx] ON [dbo].[substance_derived_synonyms]
(
	[synonym_hash] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [sid_idx]    Script Date: 1/13/2014 2:13:38 PM ******/
CREATE NONCLUSTERED INDEX [sid_idx] ON [dbo].[substance_issues]
(
	[sid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [Index_substances_isRevoked]    Script Date: 1/13/2014 2:13:38 PM ******/
CREATE NONCLUSTERED INDEX [Index_substances_isRevoked] ON [dbo].[substances]
(
	[isRevoked] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [Index_substances_regid]    Script Date: 1/13/2014 2:13:38 PM ******/
CREATE NONCLUSTERED INDEX [Index_substances_regid] ON [dbo].[substances]
(
	[ext_regid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [substances_ext_url_idx]    Script Date: 1/13/2014 2:13:38 PM ******/
CREATE NONCLUSTERED INDEX [substances_ext_url_idx] ON [dbo].[substances]
(
	[ext_url] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[chemspider_synonyms] ADD  DEFAULT ('') FOR [synonym]
GO
ALTER TABLE [dbo].[curated_synonyms] ADD  DEFAULT ('0') FOR [validatedBy]
GO
ALTER TABLE [dbo].[curated_synonyms] ADD  DEFAULT ('10') FOR [rank]
GO
ALTER TABLE [dbo].[datasources] ADD  DEFAULT ((0)) FOR [treatNoChirlaFlagWithUpOrDownBondsAsAbsoluteStereo]
GO
ALTER TABLE [dbo].[parent_types] ADD  DEFAULT ((0)) FOR [is_inverse]
GO
ALTER TABLE [dbo].[rdf_exported_synonyms_snapshot] ADD  DEFAULT ((1)) FOR [validated]
GO
ALTER TABLE [dbo].[rdf_exported_synonyms_snapshot] ADD  DEFAULT ('') FOR [synonym]
GO
ALTER TABLE [dbo].[rdf_exports] ADD  CONSTRAINT [DF__rdf_expor__date___734EB74B]  DEFAULT (getdate()) FOR [date_exported]
GO
ALTER TABLE [dbo].[rdf_exports] ADD  DEFAULT ((0)) FOR [has_failed]
GO
ALTER TABLE [dbo].[rdf_exports] ADD  DEFAULT ((0)) FOR [has_finished]
GO
ALTER TABLE [dbo].[service_errors] ADD  DEFAULT (getdate()) FOR [timestamp]
GO
ALTER TABLE [dbo].[service_stats] ADD  DEFAULT (getdate()) FOR [date_start]
GO
ALTER TABLE [dbo].[service_stats] ADD  DEFAULT (getdate()+(10)) FOR [date_end]
GO
ALTER TABLE [dbo].[service_stats] ADD  DEFAULT ((0)) FOR [requests_count]
GO
ALTER TABLE [dbo].[service_stats] ADD  DEFAULT (getdate()) FOR [date_created]
GO
ALTER TABLE [dbo].[service_timestamps] ADD  DEFAULT (getdate()) FOR [timestamp]
GO
ALTER TABLE [dbo].[session_vars] ADD  DEFAULT (getdate()) FOR [date]
GO
ALTER TABLE [dbo].[substance_derived_synonyms] ADD  DEFAULT ('en') FOR [lang_id]
GO
ALTER TABLE [dbo].[substance_versions] ADD  CONSTRAINT [DF__substance__date___2C3393D0]  DEFAULT (getdate()) FOR [date_deposited]
GO
ALTER TABLE [dbo].[substances] ADD  DEFAULT ('0') FOR [isRevoked]
GO
ALTER TABLE [dbo].[transactions] ADD  DEFAULT (getdate()) FOR [date_started]
GO
ALTER TABLE [dbo].[transactions] ADD  DEFAULT ('S') FOR [status]
GO
ALTER TABLE [dbo].[transactions_archived] ADD  DEFAULT (getdate()) FOR [date_started]
GO
ALTER TABLE [dbo].[transactions_archived] ADD  DEFAULT ('S') FOR [status]
GO
ALTER TABLE [dbo].[chemspider_synonyms]  WITH CHECK ADD FOREIGN KEY([chemspider_csid])
REFERENCES [dbo].[chemspider_properties] ([chemspider_csid])
GO
ALTER TABLE [dbo].[compounds_mol]  WITH NOCHECK ADD  CONSTRAINT [FK__compounds___csid__07220AB2] FOREIGN KEY([csid])
REFERENCES [dbo].[compounds] ([csid])
GO
ALTER TABLE [dbo].[compounds_mol] CHECK CONSTRAINT [FK__compounds___csid__07220AB2]
GO
ALTER TABLE [dbo].[compounds_properties]  WITH CHECK ADD  CONSTRAINT [FK__compounds___csid__6C040022] FOREIGN KEY([csid])
REFERENCES [dbo].[compounds] ([csid])
GO
ALTER TABLE [dbo].[compounds_properties] CHECK CONSTRAINT [FK__compounds___csid__6C040022]
GO
ALTER TABLE [dbo].[compounds_smiles]  WITH NOCHECK ADD  CONSTRAINT [FK__compounds___csid__062DE679] FOREIGN KEY([csid])
REFERENCES [dbo].[compounds] ([csid])
GO
ALTER TABLE [dbo].[compounds_smiles] CHECK CONSTRAINT [FK__compounds___csid__062DE679]
GO
ALTER TABLE [dbo].[curated_synonym_csid]  WITH CHECK ADD  CONSTRAINT [FK__curated_s__curat__114A936A] FOREIGN KEY([curated_synonym_id])
REFERENCES [dbo].[curated_synonyms] ([curated_synonym_id])
GO
ALTER TABLE [dbo].[curated_synonym_csid] CHECK CONSTRAINT [FK__curated_s__curat__114A936A]
GO
ALTER TABLE [dbo].[curated_synonym_csid]  WITH CHECK ADD  CONSTRAINT [FK__curated_sy__csid__0539C240] FOREIGN KEY([csid])
REFERENCES [dbo].[compounds] ([csid])
GO
ALTER TABLE [dbo].[curated_synonym_csid] CHECK CONSTRAINT [FK__curated_sy__csid__0539C240]
GO
ALTER TABLE [dbo].[data_versions]  WITH NOCHECK ADD FOREIGN KEY([dsn_id])
REFERENCES [dbo].[datasources] ([dsn_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[inchis_md5]  WITH CHECK ADD FOREIGN KEY([inc_id])
REFERENCES [dbo].[inchis] ([inc_id])
GO
ALTER TABLE [dbo].[parent_daughters]  WITH NOCHECK ADD  CONSTRAINT [FK__parent_da__csid___090A5324] FOREIGN KEY([csid_parent])
REFERENCES [dbo].[compounds] ([csid])
GO
ALTER TABLE [dbo].[parent_daughters] CHECK CONSTRAINT [FK__parent_da__csid___090A5324]
GO
ALTER TABLE [dbo].[parent_daughters]  WITH NOCHECK ADD  CONSTRAINT [FK__parent_da__csid___09FE775D] FOREIGN KEY([csid_daughter])
REFERENCES [dbo].[compounds] ([csid])
GO
ALTER TABLE [dbo].[parent_daughters] CHECK CONSTRAINT [FK__parent_da__csid___09FE775D]
GO
ALTER TABLE [dbo].[parent_daughters]  WITH NOCHECK ADD FOREIGN KEY([parent_id])
REFERENCES [dbo].[parent_types] ([parent_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[rdf_exported_ext_refs_snapshot]  WITH NOCHECK ADD  CONSTRAINT [FK__rdf_expor__exp_i__019CD6A2] FOREIGN KEY([exp_id])
REFERENCES [dbo].[rdf_exports] ([exp_id])
GO
ALTER TABLE [dbo].[rdf_exported_ext_refs_snapshot] CHECK CONSTRAINT [FK__rdf_expor__exp_i__019CD6A2]
GO
ALTER TABLE [dbo].[rdf_exported_identifiers_snapshot]  WITH NOCHECK ADD  CONSTRAINT [FK__rdf_expor__exp_i__1B5CA8A5] FOREIGN KEY([exp_id])
REFERENCES [dbo].[rdf_exports] ([exp_id])
GO
ALTER TABLE [dbo].[rdf_exported_identifiers_snapshot] CHECK CONSTRAINT [FK__rdf_expor__exp_i__1B5CA8A5]
GO
ALTER TABLE [dbo].[rdf_exported_issues_snapshot]  WITH CHECK ADD  CONSTRAINT [FK_rdf_exported_issues_snapshot_rdf_exports] FOREIGN KEY([exp_id])
REFERENCES [dbo].[rdf_exports] ([exp_id])
GO
ALTER TABLE [dbo].[rdf_exported_issues_snapshot] CHECK CONSTRAINT [FK_rdf_exported_issues_snapshot_rdf_exports]
GO
ALTER TABLE [dbo].[rdf_exported_parent_child_snapshot]  WITH CHECK ADD  CONSTRAINT [fk_rdf_exported_parent_child_snapshot_exp_id] FOREIGN KEY([exp_id])
REFERENCES [dbo].[rdf_exports] ([exp_id])
GO
ALTER TABLE [dbo].[rdf_exported_parent_child_snapshot] CHECK CONSTRAINT [fk_rdf_exported_parent_child_snapshot_exp_id]
GO
ALTER TABLE [dbo].[rdf_exported_props_snapshot]  WITH NOCHECK ADD  CONSTRAINT [FK__rdf_exported_props_snapshot] FOREIGN KEY([exp_id])
REFERENCES [dbo].[rdf_exports] ([exp_id])
GO
ALTER TABLE [dbo].[rdf_exported_props_snapshot] CHECK CONSTRAINT [FK__rdf_exported_props_snapshot]
GO
ALTER TABLE [dbo].[rdf_exported_synonyms_snapshot]  WITH NOCHECK ADD  CONSTRAINT [FK__rdf_expor__exp_i__00A8B269] FOREIGN KEY([exp_id])
REFERENCES [dbo].[rdf_exports] ([exp_id])
GO
ALTER TABLE [dbo].[rdf_exported_synonyms_snapshot] CHECK CONSTRAINT [FK__rdf_expor__exp_i__00A8B269]
GO
ALTER TABLE [dbo].[sid_csid]  WITH NOCHECK ADD  CONSTRAINT [FK__sid_csid__csid__08162EEB] FOREIGN KEY([csid])
REFERENCES [dbo].[compounds] ([csid])
GO
ALTER TABLE [dbo].[sid_csid] CHECK CONSTRAINT [FK__sid_csid__csid__08162EEB]
GO
ALTER TABLE [dbo].[sid_csid]  WITH NOCHECK ADD FOREIGN KEY([sid])
REFERENCES [dbo].[substances] ([sid])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[substance_categories]  WITH NOCHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[substance_category_types] ([category_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[substance_categories]  WITH NOCHECK ADD FOREIGN KEY([sid])
REFERENCES [dbo].[substances] ([sid])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[substance_issues]  WITH NOCHECK ADD FOREIGN KEY([sid])
REFERENCES [dbo].[substances] ([sid])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[substance_synonyms]  WITH NOCHECK ADD FOREIGN KEY([synonym_id])
REFERENCES [dbo].[substance_derived_synonyms] ([synonym_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[substance_synonyms]  WITH NOCHECK ADD FOREIGN KEY([sid])
REFERENCES [dbo].[substances] ([sid])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[substance_versions]  WITH CHECK ADD  CONSTRAINT [FK__substance_v__sid__1DB06A4F] FOREIGN KEY([sid])
REFERENCES [dbo].[substances] ([sid])
GO
ALTER TABLE [dbo].[substance_versions] CHECK CONSTRAINT [FK__substance_v__sid__1DB06A4F]
GO
ALTER TABLE [dbo].[substance_xrefs]  WITH NOCHECK ADD FOREIGN KEY([sid])
REFERENCES [dbo].[substances] ([sid])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[substances]  WITH NOCHECK ADD FOREIGN KEY([dsn_id])
REFERENCES [dbo].[datasources] ([dsn_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[substances_sdf]  WITH NOCHECK ADD FOREIGN KEY([sid])
REFERENCES [dbo].[substances] ([sid])
ON DELETE CASCADE
GO
USE [master]
GO
