.cs-widget-pageview
{
}

.cs-widget-pageview .cs-widget-pageview-content
{
    padding-left: .5em;
    padding-top: .5em;
    min-height: 100px;
}

.cs-widget-pageview .panel-heading .search
{
    width: 300px;
    float: right;
    margin: -5px -5px 0 0;
}

.cs-widget-pageview .panel-heading .search input
{
    width: 250px;
    float: right;
    border-radius: 3px 0 0 3px;
    margin-right: -1px;
}

.cs-widget-pageview .panel-heading .search button
{
    float: right;
    border-radius: 0 3px 3px 0;
}