.cs-widget-gridview
{
    background-color: #fff;
    /*border: 1px solid #69A6DB;*/
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    position: relative;
}

.cs-widget-gridview .cs-widget-2dmol
{
    margin: 5px;
}

.cs-widget-gridview ul.properties {
    font-size: 80%;
    text-align: left;

    background-color: #F7F7F9;
    border: 1px solid #E1E1E8;
    border-radius: 4px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    margin-bottom: -10px;
    margin-left: -15px;
    margin-right: -15px;
    padding: 9px 14px;
}
